---
import Header from '../components/Header.astro';
import '../styles/globals.css';
import HeroLayout from '../layouts/HeroLayout.astro';
import Footer from '../components/Footer.astro';
---

<Header />
<HeroLayout heading='About Us' subtext='Get to know us' />
<main class='w-4/5 mx-auto flex gap-8 xl:flex-wrap mb-24'>
  <div class='basis-full'>
    <img
      src='../images/8.webp'
      alt='Image of workers'
      class='h-full object-cover w-full'
    />
  </div>
  <section class='flex flex-col gap-4 text-lg basis-full'>
    <h2 class='text-2xl'>NetSpan: Redefining Horizons</h2>
    <p class=''>
      Netspan Tech was established with the concept of providing professional &
      effective wired/wireless voice and data solutions.
    </p>

    <p class=''>
      We are a customer driven, high performance company, powered by skilled
      certified professionals, Consultants, Project Managers and Technicians.
    </p>

    <p class='mb-4'>
      We have a strong field experience and a successful track record So whether
      you are considering reconfiguring your IT infrastructure ,new data/voice
      cabling and configuration solutions, new installations, relocating to a
      new office or simply need tidying up of your existing cabling; we are your
      all in one IT solution.
    </p>
    <div class=''>
      <a
        href='/'
        class='py-4 px-12 bg-sky-600 text-white hover:bg-orange-600 transition-all'
        >Get Started</a
      >
    </div>
  </section>
</main>
<section>
  <h2 class='text-3xl w-4/5 text-center mx-auto font-bold'>Our Brands</h2>
  <main class='w-4/5 mx-auto'>
    <ul class='flex justify-between gap-20'>
      <li>
        <a href='/products/tenda'
          ><img
            class='w-64 h-64 object-contain xl:w-32 xl:h-32'
            src='../images/tenda-2.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/products/mikrotik'
          ><img
            class='w-64 h-64 object-contain xl:w-32 xl:h-32'
            src='../images/mikrotik.svg'
            alt='Microtik Logo'
          /></a
        >
      </li>
      <li>
        <a href='/products/ubiquiti'
          ><img
            class='w-64 h-64 object-contain xl:w-32 xl:h-32'
            src='../images/ubiquiti.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/products/trendnet'
          ><img
            class='w-64 h-64 object-contain xl:w-32 xl:h-32'
            src='../images/trendnet.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/products/linkbasic'
          ><img
            class='w-64 h-64 object-contain xl:w-32 xl:h-32'
            src='../images/linkbasic.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/products/fanvil'
          ><img
            class='w-64 h-64 object-contain xl:w-32 xl:h-32'
            src='../images/fanvil.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
    </ul>
  </main>
</section>

<Footer />
