---
import Header from '../components/Header.astro';
import HeroLayout from '../layouts/HeroLayout.astro';
import Footer from '../components/Footer.astro';
---

<Header />
<HeroLayout
  heading='Services'
  subtext='We supply only the best in the market'
/>
<main class='w-4/5 mx-auto mb-24'>
  <ul class='grid grid-cols-2 gap-20 justify-between ssm:grid-cols-1 services'>
    <li class='overflow-hidden border text-gray-600 bg-white rounded-md'>
      <img
        src='../images/1.webp'
        alt='Service Photos'
        class='w-full object-cover mb-4 rounded-none'
      />
      <div class='px-8 pb-8'>
        <h2 class='text-3xl mb-2'>Network Cabling Installation</h2>
        <p class='mb-8 flex flex-col gap-2'>
          <span>
            Services Any business or organization's network system must be of
            the finest quality since it affects the majority of daily
            operations.
          </span>

          <span>
            The Network System Installers who implement the project determine
            its quality, thus at Netspantech, we make sure to provide every
            client with the very finest service and uttermost care on every
            project entrusted to us.
          </span>

          <span
            >Our broad variety of services includes network cable installation,
            communication infrastructure, and voice and data equipment sales and
            setup. Our expertise, knowledge, and drive to completely meet your
            network system needs ensure that our services will always be the
            best.
          </span>
          <span>
            Whether you require fiber optic cable repair, electrical data
            cabling, or a structured wiring system, our network cabling
            installation services will meet your needs. We will produce a
            solution that is especially created for your location. It is
            customary at Netspan to consider each client like a partner.</span
          >
        </p>
        <a class='block bg-sky-600 px-12 py-4 text-white text-center' href='/'
          >Sign Up</a
        >
      </div>
    </li>
    <li class='overflow-hidden border text-gray-600 bg-white rounded-md'>
      <img
        src='../images/2.webp'
        alt='Service Photos'
        class='w-full object-cover mb-4 rounded-none'
      />
      <div class='px-8 pb-8'>
        <h2 class='text-3xl mb-2'>Network Cabling Installation</h2>
        <p class='mb-8 flex flex-col gap-2'>
          <span>
            Services Any business or organization's network system must be of
            the finest quality since it affects the majority of daily
            operations.
          </span>

          <span>
            The Network System Installers who implement the project determine
            its quality, thus at Netspantech, we make sure to provide every
            client with the very finest service and uttermost care on every
            project entrusted to us.
          </span>

          <span
            >Our broad variety of services includes network cable installation,
            communication infrastructure, and voice and data equipment sales and
            setup. Our expertise, knowledge, and drive to completely meet your
            network system needs ensure that our services will always be the
            best.
          </span>
          <span>
            Whether you require fiber optic cable repair, electrical data
            cabling, or a structured wiring system, our network cabling
            installation services will meet your needs. We will produce a
            solution that is especially created for your location. It is
            customary at Netspan to consider each client like a partner.</span
          >
        </p>
        <a class='block bg-sky-600 px-12 py-4 text-white text-center' href='/'
          >Sign Up</a
        >
      </div>
    </li>
    <li class='overflow-hidden border text-gray-600 bg-white rounded-md'>
      <img
        src='../images/3.webp'
        alt='Service Photos'
        class='w-full object-cover mb-4 rounded-none'
      />
      <div class='px-8 pb-8'>
        <h2 class='text-3xl mb-2'>Network Cabling Installation</h2>
        <p class='mb-8 flex flex-col gap-2'>
          <span>
            Services Any business or organization's network system must be of
            the finest quality since it affects the majority of daily
            operations.
          </span>

          <span>
            The Network System Installers who implement the project determine
            its quality, thus at Netspantech, we make sure to provide every
            client with the very finest service and uttermost care on every
            project entrusted to us.
          </span>

          <span
            >Our broad variety of services includes network cable installation,
            communication infrastructure, and voice and data equipment sales and
            setup. Our expertise, knowledge, and drive to completely meet your
            network system needs ensure that our services will always be the
            best.
          </span>
          <span>
            Whether you require fiber optic cable repair, electrical data
            cabling, or a structured wiring system, our network cabling
            installation services will meet your needs. We will produce a
            solution that is especially created for your location. It is
            customary at Netspan to consider each client like a partner.</span
          >
        </p>
        <a class='block bg-sky-600 px-12 py-4 text-white text-center' href='/'
          >Sign Up</a
        >
      </div>
    </li>
    <li class='overflow-hidden border text-gray-600 bg-white rounded-md'>
      <img
        src='../images/5.webp'
        alt='Service Photos'
        class='w-full object-cover mb-4 rounded-none'
      />
      <div class='px-8 pb-8'>
        <h2 class='text-3xl mb-2'>Network Cabling Installation</h2>
        <p class='mb-8 flex flex-col gap-2'>
          <span>
            Services Any business or organization's network system must be of
            the finest quality since it affects the majority of daily
            operations.
          </span>

          <span>
            The Network System Installers who implement the project determine
            its quality, thus at Netspantech, we make sure to provide every
            client with the very finest service and uttermost care on every
            project entrusted to us.
          </span>

          <span
            >Our broad variety of services includes network cable installation,
            communication infrastructure, and voice and data equipment sales and
            setup. Our expertise, knowledge, and drive to completely meet your
            network system needs ensure that our services will always be the
            best.
          </span>
          <span>
            Whether you require fiber optic cable repair, electrical data
            cabling, or a structured wiring system, our network cabling
            installation services will meet your needs. We will produce a
            solution that is especially created for your location. It is
            customary at Netspan to consider each client like a partner.</span
          >
        </p>
        <a class='block bg-sky-600 px-12 py-4 text-white text-center' href='/'
          >Sign Up</a
        >
      </div>
    </li>
    <li class='overflow-hidden border text-gray-600 bg-white rounded-md'>
      <img
        src='../images/6.webp'
        alt='Service Photos'
        class='w-full object-cover mb-4 rounded-none'
      />
      <div class='px-8 pb-8'>
        <h2 class='text-3xl mb-2'>Network Cabling Installation</h2>
        <p class='mb-8 flex flex-col gap-2'>
          <span>
            Services Any business or organization's network system must be of
            the finest quality since it affects the majority of daily
            operations.
          </span>

          <span>
            The Network System Installers who implement the project determine
            its quality, thus at Netspantech, we make sure to provide every
            client with the very finest service and uttermost care on every
            project entrusted to us.
          </span>

          <span
            >Our broad variety of services includes network cable installation,
            communication infrastructure, and voice and data equipment sales and
            setup. Our expertise, knowledge, and drive to completely meet your
            network system needs ensure that our services will always be the
            best.
          </span>
          <span>
            Whether you require fiber optic cable repair, electrical data
            cabling, or a structured wiring system, our network cabling
            installation services will meet your needs. We will produce a
            solution that is especially created for your location. It is
            customary at Netspan to consider each client like a partner.</span
          >
        </p>
        <a class='block bg-sky-600 px-12 py-4 text-white text-center' href='/'
          >Sign Up</a
        >
      </div>
    </li>
  </ul>
</main>
<Footer />
