<section
  id='about'
  class='flex gap-24 w-4/5 mx-auto mb-24 xxl:gap-12 lg:flex-wrap'
>
  <div class='basis-full'>
    <img
      src='./images/8.webp'
      alt='Image of tasks'
      class='h-full w-full object-cover'
    />
  </div>
  <div class='basis-full'>
    <span class='text-2xl font-bold mb-2 text-medium-grey'>About Us</span>
    <h2
      class='text-4xl mb-8 xxl:text-3xl xl:text-3xl leading-none w-4/5 font-bold text-dark-grey'
    >
      The Best Network Cabling Installation Services
    </h2>
    <p class='mb-4 w-4/5 text-xl'>
      <span class='block'
        >It is essential for the network system of any business or organization
        to be of the highest quality as it influences the majority of activities
        that are run day-to-day.</span
      >
    </p>
    <ul class='flex flex-col gap-2 mb-6 text-xl'>
      <li class='flex gap-2'>
        <svg
          fill='none'
          stroke='currentColor'
          stroke-width='1.5'
          viewBox='0 0 24 24'
          class='w-6 h-6'
          xmlns='http://www.w3.org/2000/svg'
          aria-hidden='true'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
          ></path>
        </svg>
        <p class=''>Telephone Installation</p>
      </li>
      <li class='flex gap-2'>
        <svg
          fill='none'
          stroke='currentColor'
          stroke-width='1.5'
          viewBox='0 0 24 24'
          class='w-6 h-6'
          xmlns='http://www.w3.org/2000/svg'
          aria-hidden='true'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
          ></path>
        </svg>
        <p class=''>Wireless Internet Installation</p>
      </li>
      <li class='flex gap-2'>
        <svg
          fill='none'
          stroke='currentColor'
          stroke-width='1.5'
          viewBox='0 0 24 24'
          class='w-6 h-6'
          xmlns='http://www.w3.org/2000/svg'
          aria-hidden='true'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
          ></path>
        </svg>
        <p class=''>Ethernet Cable Installation</p>
      </li>
      <li class='flex gap-2'>
        <svg
          fill='none'
          stroke='currentColor'
          stroke-width='1.5'
          viewBox='0 0 24 24'
          class='w-6 h-6'
          xmlns='http://www.w3.org/2000/svg'
          aria-hidden='true'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
          ></path>
        </svg>
        <p class=''>Fibre Optic Fusion Splicing</p>
      </li>
    </ul>
    <a
      href='/services'
      class='lg:block text-center bg-sky-700 hover:bg-orange-700 transition-all px-16 py-4 inline-block text-white text-xl'
      >Read More</a
    >
  </div>
</section>
