<div id='benefits' class='w-4/5 mx-auto mb-24'>
  <h3 class='text-2xl font-bold mb-2 text-medium-grey'>Our Benefits</h3>
  <p
    class='text-4xl mb-8 xxl:text-3xl xl:text-3xl leading-none w-4/5 font-bold text-dark-grey'
  >
    Why Choose Us
  </p>
  <div class=''>
    <ul
      class='flex mb-16 justify-between gap-8 xl:flex-wrap xl:justify-start lg:order-2'
    >
      <div class='flex justify-between gap-8 xl:flex-wrap xl:justify-start'>
        <li class='basis-1/3 xl:basis-[45%] lg:basis-full cursor-pointer'>
          <div class=''>
            <img
              src='./images/5.webp'
              alt='image of work'
              class='lg:h-[250px] lg:w-full object-cover'
            />
            <h3 class='text-2xl mt-4 mb-2 font-semibold'>Low Voltage Wiring</h3>
            <p class='text-xl'>
              We have streamlined the task of low voltage wiring and cabling
              through several years of engineering and design experience.
            </p>
          </div>
        </li>
        <li class='basis-1/3 xl:basis-[45%] lg:basis-full cursor-pointer'>
          <div class=''>
            <img
              src='./images/6.webp'
              alt='image of work'
              class='lg:h-[250px] lg:w-full object-cover'
            />
            <h3 class='text-2xl mt-4 mb-2 font-semibold'>
              Fibre Optic Installations
            </h3>
            <p class='text-xl'>
              Our team of experts provides quality fiber optic installation with
              meticulous workmanship and the best techniques. Call us today.
            </p>
          </div>
        </li>
        <li class='basis-1/3 xl:basis-[45%] lg:basis-full cursor-pointer'>
          <div class=''>
            <img
              src='./images/7.webp'
              alt='image of work'
              class='lg:h-[250px] lg:w-full object-cover'
            />
            <h3 class='text-2xl mt-4 mb-2 font-semibold'>Voice and Data</h3>
            <p class='text-xl'>
              We offer reliable voice and data installation services for
              organizations, ensuring success through comprehensive telecom and
              data cabling solutions.
            </p>
          </div>
        </li>
      </div>
    </ul>
    <div class='block mb-16 text-white text-center'>
      <a
        href='/services'
        class='lg:block bg-sky-700 text-xl hover:bg-orange-700 transition-all px-16 py-4 inline-block'
        >View more services</a
      >
    </div>

    <div
      class='flex mt-24 items-center gap-16 bg-medium-grey rounded overflow-hidden w-4/5 lg:w-full lg:p-16 mx-auto shadow-md xl:items-center'
    >
      <div class='block lg:hidden'>
        <img
          src='./images/4-form.webp'
          alt='Form Image'
          class='w-full h-full object-cover rounded-none'
        />
      </div>
      <form action='#post' class='lg:pt-0 lg:basis-full'>
        <h3 class='text-2xl font-bold mb-2'>Get in touch</h3>
        <p
          class='text-3xl font-bold mb-12 xxl:text-3xl xl:text-2xl leading-none w-4/5'
        >
          NetSpan stands as the fastest growing provider
        </p>

        <div class='flex flex-col gap-6 text-xl'>
          <div class=''>
            <label class='mb-2' for='name'>Full Name</label>
            <input
              type='text'
              id='name'
              class='py-4 px-2 w-4/5 border lg:w-full'
              placeholder='Enter your full name'
            />
          </div>
          <div class=''>
            <label class='mb-2' for='email'>Email Address</label>
            <input
              type='email'
              id='email'
              class='py-4 px-2 w-4/5 border lg:w-full'
              placeholder='Enter your email address'
            />
          </div>
          <div class='mt-4'>
            <button
              class='px-12 py-4 bg-sky-700 hover:bg-orange-700 transition-all text-white inline-block lg:w-full'
              >Sign Me Up</button
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
