<footer
  id='footer'
  class='flex w-4/5 justify-between mx-auto items-start gap-20 py-8 xxl:gap-16 lg:items-center'
>
  <a href='/' class='block logo w-[200px]'>
    <img src='../images/logo.png' class='min-w-[100px]' alt='' />
  </a>
  <div class=''>
    <h2 class='text-3xl mb-2 lg:text-xl'>Services</h2>
    <ul
      class='text-lg flex flex-col gap-2 lg:hidden lg:invisible lg:pointer-events-none'
    >
      <li><a href='/services'>Network Installation</a></li>
      <li><a href='/services'>Fibre Installation</a></li>
      <li><a href='/services'>Voice and Data</a></li>
    </ul>
  </div>
  <div class=''>
    <h2 class='text-3xl mb-2 lg:text-xl'>Contact</h2>
    <ul
      class='text-lg flex flex-col gap-1 lg:hidden lg:invisible lg:pointer-events-none'
    >
      <li>
        <address>
          <li>57 Nelson Mandela Ave,</li>
          <li>
            <span class='block'>3rd FLOOR, Old Shell House,</span>
            <span class='block'>Cnr 1ST Street & Nelson Mandela St.</span>
            <span class='block'>HRE</span>
          </li>
          <li>OFFICE ROOM 301</li>
        </address>
      </li>
      <li>
        <p>
          <span class='block'>+263 773 275 941</span>
        </p>
      </li>
      <li><p>sales@netspan.co.zw</p></li>
    </ul>
  </div>
  <div class='basis-1/5 xl:basis-auto'>
    <h2 class='text-3xl mb-2 lg:text-xl'>Newsletter</h2>
    <ul class='text-lg lg:hidden lg:invisible lg:pointer-events-none'>
      <li class='mb-4'>
        <p class='text-lg'>
          Stay informed and up-to-date with our exclusive weekly newsletter,
          join now!
        </p>
      </li>
      <li>
        <input
          class='py-4 px-2 block w-full'
          type='email'
          placeholder='Enter your email address'
        />
      </li>
    </ul>
  </div>
</footer>
<small class='block text-center mx-auto w-4/5 text-lg text-base'
  >&copy; 2023 NetSpan Tech Ltd. All rights reserved.</small
>
