<footer
  id='footer'
  class='flex w-4/5 justify-between mx-auto items-start gap-20 py-8 xxl:gap-16 xl:justify-start xl:gap-20 lg:items-center'
>
  <div class=''>
    <a href='/' class='block logo w-[250px]'>
      <!--?xml version="1.0" encoding="UTF-8"?-->
      <svg
        id='Layer_2'
        data-name='Layer 2'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 1081 385'
        class='mix-blend-multiply'
      >
        <defs>
          <style>
            .cls-1 {
              fill: #6a6a6a;
            }

            .cls-2 {
              fill: #979797;
            }

            .cls-3 {
              fill: #f0f0f0;
            }

            .cls-4 {
              fill: #555;
            }

            .cls-5 {
              fill: #f4f4f4;
            }

            .cls-6 {
              fill: #030202;
            }

            .cls-7 {
              fill: #575757;
            }

            .cls-8 {
              fill: #d1d1d1;
            }

            .cls-9 {
              fill: #fafafa;
            }

            .cls-10 {
              fill: #848484;
            }

            .cls-11 {
              fill: #3f3f3f;
            }

            .cls-12 {
              fill: #a5a5a5;
            }

            .cls-13 {
              fill: #8a99c9;
            }

            .cls-14 {
              fill: #f6f6f6;
            }

            .cls-15 {
              fill: #525251;
            }

            .cls-16 {
              fill: #717171;
            }

            .cls-17 {
              fill: #f5f5f5;
            }

            .cls-18 {
              fill: #4c4c4b;
            }

            .cls-19 {
              fill: #a9a9a9;
            }

            .cls-20 {
              fill: #4a4a4a;
            }

            .cls-21 {
              fill: #020202;
            }

            .cls-22 {
              fill: #b4b4b4;
            }

            .cls-23 {
              fill: #7c7c7c;
            }

            .cls-24 {
              fill: #656565;
            }

            .cls-25 {
              fill: #707070;
            }

            .cls-26 {
              fill: #646464;
            }

            .cls-27 {
              fill: #e6e6e6;
            }

            .cls-28 {
              fill: #6b6e72;
            }

            .cls-29 {
              fill: #030303;
            }

            .cls-30 {
              fill: gray;
            }

            .cls-31 {
              fill: #444;
            }

            .cls-32 {
              fill: #6a6d71;
            }

            .cls-33 {
              fill: #4e4d4d;
            }

            .cls-34 {
              fill: #080808;
            }

            .cls-35 {
              fill: #898989;
            }

            .cls-36 {
              fill: #eaeaea;
            }

            .cls-37 {
              fill: #676767;
            }

            .cls-38 {
              fill: #484847;
            }

            .cls-39 {
              fill: #fdfdfd;
            }

            .cls-40 {
              fill: #737373;
            }

            .cls-41 {
              fill: #fbfbfb;
            }

            .cls-42 {
              fill: #f9f9f9;
            }

            .cls-43 {
              fill: #575656;
            }

            .cls-44 {
              fill: #464646;
            }

            .cls-45 {
              fill: #5d5d5d;
            }

            .cls-46 {
              fill: #878787;
            }

            .cls-47 {
              fill: #ebebeb;
            }

            .cls-48 {
              fill: #bebebe;
            }

            .cls-49 {
              fill: #4f4f4f;
            }

            .cls-50 {
              fill: #999;
            }

            .cls-51 {
              fill: #bcbcbc;
            }

            .cls-52 {
              fill: #515151;
            }

            .cls-53 {
              fill: #757575;
            }

            .cls-54 {
              fill: #f7f7f7;
            }

            .cls-55 {
              fill: #efefef;
            }

            .cls-56 {
              fill: #606060;
            }

            .cls-57 {
              fill: #525252;
            }

            .cls-58 {
              fill: #070707;
            }

            .cls-59 {
              fill: #acacac;
            }

            .cls-60 {
              fill: #484848;
            }

            .cls-61 {
              fill: #595959;
            }

            .cls-62 {
              fill: #f8f8f8;
            }

            .cls-63 {
              fill: #686868;
            }

            .cls-64 {
              fill: #ececec;
            }

            .cls-65 {
              fill: #f2f2f2;
            }

            .cls-66 {
              fill: #010101;
            }

            .cls-67 {
              fill: #a2a2a2;
            }

            .cls-68 {
              fill: #fefefe;
            }

            .cls-69 {
              fill: #060606;
            }

            .cls-70 {
              fill: #fcfcfc;
            }
          </style>
        </defs>
        <g id='Layer_1-2' data-name='Layer 1'>
          <g>
            <path class='cls-68' d='M0,0H1081V385H0c0-128.33,0-256.67,0-385Z'
            ></path>
            <path
              class='cls-13'
              d='M831.23,273.83c8.87-9.6,17.51-19.13,25.29-29.4,22.13-29.21,38.58-61.14,46.02-97.2,3.61-17.52,4.51-35.35-.89-52.66-8.4-26.93-27.97-41.38-55.07-46.65-4.96-.97-9.96-1.78-14.95-3.1,9.83-3.19,19.8-5.52,29.94-6.77,16.34-2.02,32.55-1.14,48.06,4.9,23.1,8.99,35.5,26.12,38.53,50.58,2.65,21.42-3.34,41.02-11.8,60.14-10.51,23.77-25.88,44.35-42.91,63.79-17.26,19.7-36.71,37.08-56.95,53.63-1.28,1.05-2.64,2.01-4,2.96-.18,.12-.6-.09-1.27-.22Z'
            ></path>
            <path
              d='M738.98,349.75c33.29-20.82,66.2-41.42,97.32-64.66,34.04-25.42,66.81-52.32,94.33-84.92,17.61-20.87,33.02-43.12,40.63-69.85,5.86-20.59,5.79-40.84-3.1-60.66-.18-.4-.14-.9-.28-1.85,2.52,.56,3.15,2.6,4.12,4.04,18.82,27.82,21.64,57.85,11.43,89.23-9.38,28.82-26.59,52.89-47.77,74.23-31.33,31.57-68.09,55.61-107.5,75.76-27.67,14.15-56.38,26.07-84.95,38.26-1.27,.54-2.43,1.02-4.23,.42Z'
            ></path>
            <path
              d='M435.91,209.62c-3.66,.32-7.43-.98-10.98,.81-5.02,1.75-10.04,.67-15.06-.02-6.04-1.75-12.05-3.68-18.59-3.42,7.11-.91,13.99-2.7,21.46-3.74-5.07-2.17-10.04-2.88-15.25-3.23,6.07,.27,11.63-2.03,17.46-2.7,2.59-.92,5.28,0,7.76-.36-1.87-.27-4.18,.82-5.79-1.32-2.4-.6-4.77-1.45-7.2-1.75-3.94-.49-7.4-.1-11.06,2.61-7.87,5.82-17.27,7.09-26.96,6.67-7.42-.32-9.14,.94-11.7,7.74-2.32,6.17-6.38,11.44-9.09,17.4-.78,1.71-2.17,1.76-3.72,1.72-5.32-.12-10.71,.31-15.93-.45-4.98-.73-9.84-2.34-15.04-2.59,6.39,.24,12.32-1.7,18.32-2.87-6.26-4.22-10.35-4.13-16.9,.12-7.14,4.63-15.19,6.58-23.55,7.02-11.47,.61-22.93,.43-34.07-2.98-2.11-1.41-5.21,1.18-6.96-1.7,6.72,.83,12.87-2.8,19.56-2.52-5.86-1.23-11.5-3.38-17.7-3.43,6.68-.76,13.13-2.35,19.96-3.62-5.59-1.54-10.84-3.31-16.53-2.68,14.86-4.28,30.01-4.13,45.7-3.78-3.8-4.02-8.46-2.59-12.6-3.63,5.19-.26,10.27-.83,15.37-2.91-4.86-2.8-10.22-2.67-15.42-3.82,7.68,.23,14.77-3.44,22.45-2.79,3.59-2.06,7.44-.66,10.87-.9,.96,.1,.83-.62,.77,.05-.06,.66,.25,.02-.42-.04-9.36-.78-18.78,.04-28.14-.96-5.66,.12-10.81-3.14-16.65-2.46,5.36-.24,10.45-1.46,15.53-2.7,5.1-1.6,10.16-.88,15.26-.52-7.38-.69-14.9-.06-22.26-1.17-4.7-1.45-9.58-1.87-14.49-2.67,5.64-.39,11.33-.24,16.55-3.22-4.46-1.63-9.06-2.45-13.82-2.4,1.32-2.86,4.19-.39,5.96-1.72,5.47-1.8,11.07-2.52,16.82-2.17,4.59-2.84,9.46-1.34,14.27-.91-.55,4.07,2.26,5.74,5.33,6.69,8.29,2.59,13.2,7.81,13.84,16.62,4.54,1.48,8.5-.83,12.66-1.47,8.23-1.24,16.56,.26,24.8-1.12-7.22,.62-14.44,1.03-21.66,.17-4.19-3.53-9.4-2.83-14.4-3.56,5.59-.11,10.9-1.4,16.22-2.61,1.22-.39,2.52-.49,3.83-.92-.77-.02-1.35-.28-1.85-.73-4.7-1.28-9.37-2.72-14.43-2.59,5.7-.02,11.05-1.62,16.48-2.72,1.52-1.2,3.35-1.1,5.13-1.22,3.96-.02,7.9-.51,11.87-.29,5.56,.46,11.12,.57,16.61-.09,.58,.18-.25-.09,.42-.11,.46-.01,.4-.15-.14-.04-1.46,.3-2.95,.37-4.42,.22-1.85-.19-4.59,.28-4.57-2.4,.02-2.29,2.6-2.15,4.31-2.16,3.13,0,6.21-.48,9.32-.72,.49-.01,.99-.02,1.67-.08-3.81,.09-7.41,.57-11.04,.42-1.67,.02-3.33-.07-4.99,.07-4.77,.44-9.53,.74-14.24-.46-6.18-1.72-12.29-3.75-18.87-4.08,4.69-1.03,9.41-.55,13.87-2.04,2.95-.58,6.03-.46,8.88-1.55,.58-.44-.07-.37-.09-.34-1.5,1.53-3.15,1.19-4.81,.24-4.7-1.41-9.47-2.39-14.48-2.6,6.12,.33,11.75-1.9,17.61-2.71,9.52-.45,19.1-.24,28.5-2.14,4.85,.09,9.74-.99,14.57,.32,4.72,3.9,5.61,11.66,2.17,19.2-.81,1.76-1.73,3.47-2.65,5.31,5.44,.5,10.37-.8,15.36-1.66,2.2-1.05,4.84,.52,6.58-1.5-.2-.18-1.11,.34-1.63-.31-4.7-1.42-9.4-2.9-14.55-2.55,6.13-1.46,12.65-.83,18.14-4.14-3.51-2.65-7.91-.59-11.87-2.21,7.37-1.03,14.72-2.11,21.97-3.58-5.07-1.79-10.31-2.94-15.79-2.81,16.15-3.06,32.36-4.39,49.21-3.57-1.79,9.93-3.54,19.74-5.32,29.54-.86,4.71-1.86,9.39-2.61,14.11-.21,1.34-.37,2.23-1.94,2.08-1.28,2.37-3.5,2.01-5.64,1.99-3.12-.04-6.25,.18-9.37-.29-5.34-1.17-10.79-1.16-16.2-1.57Z'
            ></path>
            <path
              d='M677.17,137.92c3.86-5.42,9.02-9.52,13.93-13.8,29.88-26.03,63.15-46.14,101.65-56.8,16.53-4.57,33.2-6.54,50.14-1.65,21.4,6.18,32.2,22.91,35.04,42.66,.95,6.61,2.4,13.23,2.04,20-1.35,.12-1.76-.7-2.05-1.41-6.75-16.69-20.42-25.06-36.67-30.17-16.76-5.27-33.88-5.73-51.3-4.17-30.2,2.71-58.43,11.35-84.74,26.33-9.83,5.6-18.84,12.38-28.04,19Z'
            ></path>
            <path
              d='M314.12,175.59c-4.66,1.75-9.58-.4-14.27,.91-4.25-2.21-9.42-.18-13.56-2.91-4.98,4.99-11.1,1.79-16.71,2.28-1.87,.16-1.72,1.75-2.42,2.71-2.56,3.52-3.27,8.22-7.04,10.97-1.04,1.47-2.43,2.17-4.24,1.86-4-.69-8.26,.35-12.03-1.84-4.88-2.4-10.14-3.23-15.6-3.58,5.7-.06,11.07-1.37,16.63-2.91-3.54-4.24-8.58-2.88-13.03-4,5.33-.52,10.73-.46,16.64-3.49-8.51,.02-16.01,.31-23.22-2.3-3.19-1.16-5.01,2.92-8.55,2.51-5.42-.63-11.03,.32-16.45-.3-5.98-.68-9.66,1.11-11.09,7.02-1.14,1.32-2.73,1.21-4.24,1.34-2.36,0-4.78,1.11-7.05-.38-6-1.23-12-2.46-18-3.68-1.41-.29-3.01,.45-5.15-1.55,7.43,1.33,13.5-1.25,20.04-2.02-4.81-3.1-10.22-3.14-15.59-3.93,6.69-.25,13.06-1.56,19.38-3.23-5.11-1.89-10.31-3.26-15.94-2.96,9.14-.55,17.69-4.24,26.92-4.09-7.94,1.15-15.12-3.7-22.96-2.37-.22-1.41,.73-1.47,1.43-1.54,11.22-1.02,22.34-3.06,33.71-2.41,7.14,.41,14.32-.06,21.47,.15,2.72,.08,5.87-1.43,8.15,1.79,.41,.59,2.64,.3,3.83-.13,7.11-2.57,14.46-1.62,21.73-1.7,9.49-.11,18.98-.13,28.47,.03,3.27,.05,6.37-.48,9.75,1.95,2.74,1.97,7.28-.15,10.98-.8,13.31-2.36,26.62-4.08,39.98-.37,.6,.17,1.16,.45,2.04,.79-3.09,5.89-6.14,11.49-8.97,17.2-.88,1.77-1.96,1.42-3.22,.95-7.28-2.71-14.55-2.75-21.82,.02Z'
            ></path>
            <path
              d='M669.05,185.64c5.77-2.12,11.76-2.35,17.81-2.16,1.77-2.32,4.19-1.79,6.57-1.5,7.9,.34,15.8,.05,23.7,.16,2.29,.03,4.62-.2,6.81,.76,4.14,2.65,7.98-.8,11.99-.52-3.94-1.18-8.34-.65-12-3.6,6.29-1.75,12.66-2.78,19.08-3.55,9.13-.36,18.25-.29,27.38-.01,1.81,.06,3.89-.41,3.78,2.5-4.33,3.26-9.48,5.23-13.44,9.18-7.73,7.71-8.62,12.5-3.24,21.46-.36,2.27-2.22,3.09-3.98,3.01-7.21-.32-14.49,.8-21.64-.95-5.7-2.04-11.51-3.51-17.74-3.57,4.93-1.17,10.03-.8,14.76-2.53,.28-.13,.57-.23,.87-.27,.46-.06,.91-.14,1.36-.23-.33-.33-.86,.04-1.18-.33-3.68-2.53-8.69-4.32-12.03-2.62-9.84,5.02-20,1.31-29.87,2.64-3.77,.51-3.43,4.14-5.25,6.87h27.48c-1.17,2.82-2.17,5.17-3.83,7.22-1.33,.73-2.72,1.07-4.26,1.02-12.2-.35-24.4-.28-36.61-.28-1.59,0-3.34,.35-4.7-.95-4.67-3.22-10.07-3.13-15.5-3.44,6.25-.46,12.24-1.98,18.99-3-4.81-3.54-10.04-3.28-15.12-4.01,6.09,.35,11.65-1.68,17.52-2.89-3.67-4.88-9.06-3.18-13.84-4.1,5.48-.2,10.69-1.57,15.96-2.61,3.09-1.1,6.3-.81,9.48-.85,2.65-.15,5.38,.35,7.96-.6,.6-.46-.48-.92-.03-.43,.19,.21,.08,.29-.2,.45-1.52,.86-3.18,.44-4.78,.56-3.5-.33-7.1,.76-10.5-.79-4.59-1.79-9.4-2.43-14.38-2.73,6.17-.02,11.98-1.5,18.88-3.29-4.28-1.91-7.71-2.25-11.21-2.29,.8-2.98,3.6-.37,4.97-1.75Z'
            ></path>
            <path
              d='M692.09,182.55c-1.74,.31-3.48,.62-5.23,.93-7.46-1.36-14.73-3.75-22.47-4.41,6.32,.35,12.08-2.08,18.64-2.83-4.31-2.45-8.39-3.59-12.86-3.16-.66,.06-1.68-.16-1.92,.17-3.68,5.24-8.97,2.61-13.57,2.62-2.95,0-4.34,.97-5.85,3.4-2.16,3.46-2.38,8.24-6.72,10.26-5.09,3.49-10.19,1.64-15.29,.02-5.2-2.17-10.58-3.47-16.37-3.45,5.5-.34,10.79-1.37,16.52-3.02-3.39-4.35-8.42-2.78-12.62-4.11,5.25-.43,10.57-.26,15.23-3.38-10.06,1.65-19.4-2.6-29.21-3.17,11.36-1.26,22.53-4.09,34.12-3.33-10.37,.51-20.29-1.99-30.36-3.8,9.37-.1,18.31-3.86,27.74-2.78,1.59-1.6,3.63-1.4,5.63-1.43,7.82-.12,15.65-.02,23.48-.05,3.83,.74,7.98-.9,11.57,1.54,2.28,2.22,5.03,1.6,7.5,.82,6.6-2.1,13.34-2.38,20.16-2.16,11.64,.04,23.29-.78,34.91,.37,.36,3.71-2.67,6.21-3.65,10.03,10-.07,19.58-3.27,29.4-2.14,.96-1.05,2.16-1.44,3.57-1.44,11.28,0,22.56-.3,33.84,.31,1.8,1.62,.9,3.35,.24,5.08-1.49,3.66-4.21,4.77-7.98,3.94-3.61-.79-7.21-.37-10.82,.25-1.89,.32-3.91,.96-5.72-.41-2.86-2.24-6.23-.78-9.24-.86-6.9-.18-13.85-.85-20.75,.16-3.34-2.12-7.28-2.23-10.63-1.26-8.55,2.47-17.2,1.59-25.8,1.6-4.14,0-7.1,1.19-8.95,4.89-2.01,1.63-4.23,1.53-6.53,.79Z'
            ></path>
            <path
              d='M69.08,185.57c6.03,.73,11.68-1.37,17.73-2.48-4.16-3.91-9.52-2.79-14.35-3.98,9.25,.02,18.07-3.73,27.39-2.62,6.81-2.79,13.83-1.34,20.79-1.07,2.13,1.7,4.49,1.85,7.01,1.09,3.34-1.01,6.77-1.39,10.26-1.32,4.78-.02,9.59-.7,14.33,.46,.49,5.68-2.93,10.25-6.35,13.45-1.98,1.85,.42,1.85-.19,2.8-5.11,8.03-8.57,17.03-14.45,24.63-1.04,.74-1.81,2.09-3.3,1.91-4.36-.55-8.85,.48-13.13-1.05-7.31-1.34-14.56-3.11-22.13-3.64,4.45-2.13,10.03,.24,14.17-3.24-5.84-3.96-12.35-4.3-16.4-.91-4.72,3.02-9.69,1.61-14.62,.81-5.96-2.05-11.98-3.73-18.5-3.45,5.5-1.18,11.11-1.32,16.52-2.59,1.82-.98,4.08-.43,5.15-1.03-.66,.56-1.91,.15-3.14-.81-4.81-.8-9.48-2.44-14.53-2.55,6.29,.4,12.11-1.61,18.52-3.09-4.34-3.63-9.81-2.51-14.61-4.05,8.99,.97,17.28-3.55,26.27-2.82-5-.12-9.78-.94-14.39-2.68-2.06-.71-4.19-.17-6.28-.36-.89-.08-2.09,.17-1.81-1.42Z'
            ></path>
            <path
              d='M490.86,210.4c-6.39-1.45-12.62-3.92-19.49-3.42,5.49-1.17,11.07-1.42,16.46-2.7,1.93-.7,4.08-.53,5.26-.94-.68,.58-1.95,.16-3.2-.77-4.86-.69-9.51-2.54-14.6-2.52,5.99-.04,11.72-.99,17.36-3.28-3.47-4.06-9.01-2.07-13.43-3.98,8.7,1.08,16.68-3.39,25.35-2.77-7.67,.57-14.3-4.18-21.95-3.9,5.91,.03,11.43-1.55,16.97-2.98q-2.24-2.1-13.11-4.14c4.17-.75,8.54-.02,12.63-1.51,4.13-1.51,8.5-.79,12.77-.99,5.98-2.76,12.33-1.14,18.51-1.53,1.68,.3,3.41,.35,5,1.07,2.19,1.25,4.46,1,6.74,.34,3.21-.93,6.48-1.28,9.81-1.15,4.73,0,9.48-.77,14.18,.37,1.1,4.98-2.89,8.04-4.87,11.68-2.05,3.75-3.21,7.88-5.56,11.48-3.76,5.76-6.06,12.39-10.52,17.74-.92,.91-1.76,2.12-3.23,1.91-4.34-.62-8.8,.29-13.08-1.02-6.26-1.02-12.51-2.04-18.77-3.06,.81-2.98,3.59-.37,4.97-1.75,1.86,.09,3.42-.76,4.99-1.59-3.51-4.36-11.17-5.06-15.79-1.44-4.26,3.42-8.88,1.22-13.39,.87Z'
            ></path>
            <path
              d='M177.87,183.48c2.07-.31,4.14-.62,6.21-.92,9.2,1.12,18.44,.11,27.64,.55,1.48,.07,3.77-1.35,4.4,1.5-2.89,5.38-5.91,10.69-8.6,16.16-1.05,2.14-2.33,2.8-4.6,2.75-6.16-.13-12.35,.32-18.48-.16-5.11-.4-8.21,1.12-9.33,6.69h27.44c-3.58,6.66-6.78,12.56-9.91,18.48-.89,1.68-2.36,1.49-3.85,1.49-13.83,0-27.65,.11-41.48-.06-5.75-.07-11.12-2.87-17.04-2.95,5.77-.01,11.24-1.17,16.64-2.74,3.48-1.76,7.2-.37,10.33-.87-3.14-.42-6.85,.84-10.36-.78-1.62-.45-3.24-.91-4.86-1.36-1.4-1.3-4.12,1.23-4.97-1.7,5.06,.5,9.68-1.56,14.53-2.41-4.15-3.47-9.19-2.59-14.07-3.23,5.81-.78,11.65-1.21,17.38-3.56-2.22-1.61-4.46-2.24-6.74-2.56-2.25-.32-4.55-.3-6.86-.93,6.03,.45,11.57-1.82,17.29-2.71q-2.3-2.42-13.94-4.48c5.57,.18,10.85-1.32,16.21-2.4,2.01-.97,4.17-.79,6.3-.81,2.09-.06,4.19,.12,5.93-.06-1.09,.17-2.54-.01-3.99,.05-2.41-.25-4.96,.65-7.2-.9-4.21-2.03-8.78-2.14-13.41-2.56,5.74-.22,11.26-1.17,16.93-3.19-2.87-2.68-6.22-2.18-9.36-2.44,.81-2.97,3.59-.37,4.96-1.74,5.44-2.03,11.1-2.38,16.83-2.16Z'
            ></path>
            <path
              d='M826.07,212.57c4.4,.34,8.26-2.08,12.71-2.37-4.51-2.8-9.36-2.96-14.31-3.24,4.92-.47,9.75-1.08,14.4-2.59,2.41-1.67,5.16-.47,6.78-.84-6.31-.58-13.58-.37-20.83-.91l-8.58-.08c-5.93,2.62-12.11,1.91-18.28,1.34-4.3-2.46-9.58-1.37-15.24-3.61,6.09-4.05,12.02-2.73,17.38-3.87,6.5,1.26,13,.26,19.49-.43-5.51,.66-11.02,1.26-16.56,.86-4.95-1.46-10.32-1.27-15.15-3.85,4.97-2.43,10.28-2.77,15.51-3.48,2.19,.08,4.34,.73,6.57,.42-2.18,.42-4.26-.42-6.41-.46-3.12-.45-6.27-.5-9.41-.77-1.26-.11-2.99-.18-3.03-1.88-.04-1.51,1.44-2.35,2.77-2.34,6.28,.09,12.3-3.19,17.68-1.52-4.95-.63-10.89-1.42-17.74-3.64,5.13-3.4,10.4-1.41,14.57-3.87-3.1-1.45-6.96-.44-9.61-3.08,.21-1.43,1.35-1.96,2.47-1.97,6.12-.05,11.93-2.56,18.08-2.22,5.3-.02,10.63-.83,15.9,.44-1,5.18-4.74,9.17-6.57,14.72h11.26c5.21-.77,10.55,.3,15.7-1.2,4.84,.11,9.73-.87,14.54,.43,.29,.99,1.01,1.69,.25,3.06-5.41,9.78-10.64,19.65-15.9,29.52-.54,1.02-1.29,1.43-2.39,1.31-3.52,3.1-7.45,1.26-11.25,.91-4.28-1.03-8.55-2.05-12.83-3.08-.51-.74-2.5,.17-1.97-1.74Z'
            ></path>
            <path
              d='M731.87,210.4c6.09-.69,12.19-.37,18.29-.03,2.5,.14,4.95,.26,6.83-1.84,6.21-.41,12.42,.98,18.66-.1,1.83-.32,3.01,1.16,2.55,3.28-.29,1.24-1.05,2.23-1.76,3.24-.81,1.6-1.85,3.08-2.71,4.66-1.41,2.22-2.09,4.86-4.01,6.78-.55,.36-1.2,.55-1.73,.97-.29,2.06-1.4,2.75-3.54,3.22-9.04,1.99-17.75,.2-26.5-1.64-1.28-.27-2.59-.41-3.89-.6-2-.94-4.13-.22-6.19-.46-.89-.1-2.07,.15-1.8-1.42,5.27,.08,10.53,.07,16.62-3.15-9.22,.92-16.56-2.71-24.55-3.11,5.96-.62,11.87-.97,18.13-3.71-7.72,.72-14.04-3.45-21.22-2.66,5.67-1.15,11.39-1.62,16.81-3.44Z'
            ></path>
            <path
              class='cls-21'
              d='M660.06,161.6c-5.42,1.78-10.98,.08-16.47,.69-3.87,.43-7.81,.19-11.71,.25-.3-.3-.65-.89-.91-.86-8.05,1.15-15.55-3.3-23.6-1.96,.12-1.06,.57-1.67,1.23-1.66,8.79,.22,17.23-2.87,26.13-2.4,10.77,.56,21.6,.01,32.4,.2,3.34,.06,6.83-1.17,10.07,1.87,1.26,1.18,4.92,.45,7.23-.24,5.85-1.76,11.78-1.69,17.75-1.7,12.08,0,24.15,0,36.82,0-1.27,2.41-1.32,4.85-3.87,5.83-3.08,1.85-6.4,.54-9.59,.64-8.21,.27-16.43,.21-24.65,.27-9.43,.12-18.84-2.59-28.29-.21-4.14-.85-8.41,.45-12.53-.73Z'
            ></path>
            <path
              class='cls-66'
              d='M767.99,227.37l.96-.94c4.66-2.67,10.31-.19,14.55-3.21-1.4-.81-3.86-.07-5.54-1.66-.39-1.73,.96-2.2,2.07-2.86,3.61-.64,7.08-2.61,11.53-1.36-3.95-.96-7.37-1.53-10.89-1.56-1.98-.02-4.04,.2-5.66-1.35,.65-.48,1.31-.95,1.96-1.43,.2-.45,.37-1.03,.87-1.14,5.52-1.22,11.15-1.35,15.85-1.97-3.76-1.2-9.11-.03-13.69-2.95,6.22-2.49,12.46-4.33,19.22-3.42,5.68-.32,11.36-.64,17.03-.97,1.38,1.68,.11,3.04-.61,4.4-3.48,6.54-7.14,12.99-10.45,19.61-1.28,2.57-2.86,3.29-5.68,3.57-10.72,1.04-20.95-2.6-31.52-2.77Z'
            ></path>
            <path
              class='cls-66'
              d='M500.12,216.48c-.29,4.81-3.59,8.31-5.47,12.43-.42,.92-1.49,1.18-2.58,1.12-7.24-.42-14.57,.98-21.73-1.48-1.7-.59-4.07-2-5.67,.94-.7,1.28-2.46,.49-3.7,.5-5.48,.03-11.02,.37-16.44-.27-5.27-.63-10.32-2.9-15.88-2.72,5.97-.21,11.75-.9,17.25-3.23-4.71-2.9-10.35-2.5-15.71-3.75,7.48,.71,14.3-3.04,21.66-2.62,1.14-1.91,3.08-1.63,4.79-1.53,3.37,.2,6.77-.15,10.12,.52,2.57,1.96,5.42,2.02,8.33,1.08,2.97-.96,5.98-1.45,9.1-1.35,5.32-.37,10.64-.48,15.94,.37Z'
            ></path>
            <path
              class='cls-21'
              d='M660.87,217.39c15.19-.46,30.38-.39,45.57,.2-1.82,3.5-3.74,6.97-5.43,10.53-.91,1.93-2.4,1.92-4.12,1.92-13.83-.03-27.66,.06-41.49-.05-5.78-.05-11.08-3.19-17.07-2.86,7.13,.43,13.6-2.94,20.55-2.91,4.44-1.42,8.85-.89,13.29-.32-5.68-.94-11.58,.04-17.24-1.28-1.63-.47-3.26-.93-4.89-1.4-1.44-1.21-4.11,1.28-4.97-1.65,5.48,.83,10.42-2.3,15.8-2.18Z'
            ></path>
            <path
              class='cls-66'
              d='M120.11,175.58c-6.7,1.48-13.53-.05-20.25,.91-6.63-1.19-13.26-2.38-19.89-3.58-1.23-.22-2.64,.42-4.44-1.57,7.83,1.48,14.32-2.24,21.34-1.83,1.08-1.21,2.49-1.53,4.04-1.5,6.07,.15,12.17-.44,18.22,.58,2.9,5.4,7.73,2.71,11.73,2.48,2.85-.17,5.61-1.75,8.95-1.53-5.08-3.64-10.7-2.86-16.13-3.61,7.64-.1,14.76-2.99,22.28-3.37,4.54-3.02,9.41-1.27,14.18-.94-1.1,5.53-3.2,10.5-7.88,14.03-4.46,.28-8.92,.56-13.39,.84-6.23-.86-12.42-2.35-18.76-.91Z'
            ></path>
            <path
              class='cls-66'
              d='M566.12,175.58c-4.42,.3-8.83,.61-13.25,.91-3.38-.91-7.02-.46-10.28-1.99-2.91-.83-5.68-1.21-8.34,.97-1.14,.94-2.76,.87-4.17,.09-6.07,.31-12.14,.62-18.21,.93-5.93-1.39-11.82-2.93-17.89-3.59-1.24-.13-2.65,.42-4.43-1.48,8.44,1.3,15.58-2.77,23.31-1.92,1.08-1.2,2.5-1.59,4.04-1.52,5.41,.28,10.86-.49,16.23,.61,2.51,5.72,7.35,2.46,11.11,2.58,2.77,.09,5.59-1.33,8.37-2.07-4.5-3.41-9.95-2.3-15.1-3.18,7.7-.09,14.86-3.08,22.45-3.37,4.55-3.02,9.41-1.27,14.18-.94-1.37,5.4-3.43,10.4-8.02,13.96Z'
            ></path>
            <path
              class='cls-66'
              d='M409.88,210.41c5.02-1.19,10.04,.02,15.06,.02-5.05,5.92-10.09,11.84-15.15,17.74-.86,1.01-1.78,1.95-3.33,1.85-7.75-.49-15.58,1.02-23.27-1.44-3.06-.98-6.48-.83-9.79-1.75,6.71,.78,12.79-2.28,19.66-2.67-1.64-2.14-3.94-2.3-6.02-2.9-1.4-1.31-4.12,1.22-4.97-1.7,6.37,.72,12.19-2.77,18.88-2.2-5.06-3.32-10.5-2.9-15.83-3.63,8.48,.08,16.29-4,24.76-3.33Z'
            ></path>
            <path
              class='cls-66'
              d='M249.12,209.5c-1.06,7.41-5.91,13.04-9.19,19.41-.43,.84-1.52,1.18-2.61,1.12-7.22-.43-14.58,1.13-21.65-1.58-2.94-1.12-6.17-.7-9.28-1.52,5.98,0,11.64-1.42,17.55-3.03-3-2.56-6.48-2.39-9.86-2.59-.18-2.56,2.32-.6,2.97-1.76,3.85-.8,7.69-1.6,11.57-2.41-4.67-3.03-10.13-2.48-15.3-3.74,7.38,0,14.2-3.25,21.55-2.98,4.59-2.81,9.45-1.38,14.25-.92Z'
            ></path>
            <path
              class='cls-66'
              d='M599.05,219.54c4.17-.82,8.35-1.64,12.66-2.48-4.73-1.65-9.31-3.34-14.44-3.23,6.92-1.09,13.48-3.78,20.6-3.41,4.24-2.89,8.79-1.31,13.26-.91-.05,.89,1.29,1.48,.35,2.65-.81,1.01-1.03,2.51-1.89,3.45-4.12,4.56-3.02,13.74-11.4,14.25-6.51,.39-13.23,1.29-19.68-1.3-3.21-1.29-6.81-.76-10.22-1.71,6,.06,11.73-1.09,17.51-2.9-2.84-2.34-6.21-2.72-9.72-2.62-.2-2.57,2.33-.61,2.97-1.78Z'
            ></path>
            <path
              class='cls-66'
              d='M631.12,209.5l-13.26,.91c-5.96-2.16-12.12-3.25-18.59-3.87,6.62-.21,12.92-1.71,19.21-3.45-4.93-2.21-10.12-3-15.55-3.1,5.39-.6,10.69-1.43,15.92-2.63,1.49-.57,3.09-.65,4.4-.98-.82,.29-1.63-.18-2.39-.8-4.68-1.41-9.57-1.63-14.44-2.55,7.04-.05,13.73-1.75,20.41-3.47,5.09-.39,10.19,1.74,15.29-.02,.22,.59,.81,1.37,.62,1.73-3.33,6.06-6.74,12.07-10.19,18.05-.14,.25-.94,.13-1.43,.18Z'
            ></path>
            <path
              class='cls-66'
              d='M249.12,209.5c-4.68,1.43-9.56-.31-14.25,.92-5.61-2.29-11.48-3.27-17.65-3.86,5.93-.57,11.83-.99,17.38-3.43-4.17-3.64-9.44-2.19-14.25-3.34,5.61-.24,11.06-1.18,16.46-2.45,1.52-.49,3.11-.64,4.45-.95-.83,.29-1.65-.17-2.44-.77-4.68-1.44-9.59-1.57-14.44-2.61,6.74,.01,13.13-1.55,19.46-3.44,3.86,.22,7.75,.26,11.58,.73,1.75,.22,3.19-.12,4.69-.75-2.1,7.51-5.64,14.23-11,19.95Z'
            ></path>
            <path
              class='cls-32'
              d='M733.85,257.22c-.76,4.31-1.69,7.2-1.69,10.09,0,5.15-2.63,5.71-6.95,4.59,1.01-7.35,1.94-14.67,3.1-21.96,.22-1.35-.09-3.57,2.5-3.58,2.16,0,4.08-.19,5.46,2.28,2.48,4.44,5.4,8.63,8.26,13.12,2.07-3.46,1.93-7.14,2.07-10.41,.22-5.2,2.61-5.62,7.03-4.59-1.08,7.27-2.1,14.55-3.32,21.8-.23,1.34,.64,3.67-2.12,3.72-2.14,.04-4.2,.32-5.65-2.04-2.49-4.06-5.27-7.94-8.69-13.01Z'
            ></path>
            <path
              class='cls-32'
              d='M547.54,261.79c2.03-3.51,1.93-7.19,2.07-10.48,.22-5.25,2.65-5.59,7.02-4.55-1.09,7.29-2.11,14.58-3.33,21.84-.23,1.34,.62,3.65-2.15,3.69-2.15,.03-4.2,.27-5.64-2.08-2.49-4.06-5.27-7.93-8.23-12.34-1.83,3.35-1.92,6.59-2.06,9.49-.26,5.16-2.76,5.65-7.03,4.53,1.02-7.36,1.95-14.69,3.12-21.98,.22-1.35-.07-3.61,2.53-3.53,1.93,.06,3.84-.41,5.17,1.88,2.64,4.54,5.58,8.91,8.53,13.54Z'
            ></path>
            <path
              class='cls-32'
              d='M413.96,272.29c-7.53-.05-12.82-4.83-12.87-11.61-.05-8.13,6.77-14.52,15.29-14.32,7.16,.16,12.32,5.05,12.33,11.67,.01,8.05-6.47,14.32-14.76,14.26Z'
            ></path>
            <path
              class='cls-32'
              d='M509.88,272.29c-7.53-.1-12.79-4.9-12.79-11.68,0-8.15,6.83-14.49,15.36-14.25,7.17,.2,12.3,5.12,12.26,11.74-.05,8.1-6.52,14.3-14.83,14.19Z'
            ></path>
            <path
              class='cls-32'
              d='M397.92,246.16c-1.06,7.54-2.12,14.24-2.92,20.97-.49,4.16-1.98,6.47-6.71,4.69-1.09-3,1.66-5.98,.34-9.07-1.59-.78-3.28-.39-4.9-.4-6.68-.06-6.82-.05-7.71,6.6-.67,4.99-3.95,3.07-6.84,3.16,.99-7.17,1.95-14.02,2.88-20.86q.69-5.05,6.53-4.56c1.39,3.05-1.34,6.04-.31,9.15,1.48,.94,3.19,.47,4.81,.49,6.8,.07,6.95,.06,7.91-6.89,.67-4.85,4.02-2.45,6.91-3.27Z'
            ></path>
            <path
              class='cls-32'
              d='M780.14,272.27c1.03-7.74,2.01-14.76,2.88-21.79,.35-2.82,1.19-4.72,4.62-4.17,1.62,.26,3.31,.02,4.97,.05,8.1,.14,13.06,4.41,13.41,11.55,.42,8.51-3.7,13.54-12.21,14.29-4.43,.39-8.91,.07-13.67,.07Z'
            ></path>
            <path
              class='cls-32'
              d='M640.17,272.19c1-7.6,1.97-14.78,2.89-21.98,.33-2.6,1.2-4.36,4.36-3.89,1.62,.24,3.31,.02,4.97,.04,7.97,.1,13,4.1,13.62,10.83,.79,8.55-3.01,13.83-11.48,14.89-4.7,.59-9.53,.11-14.36,.11Z'
            ></path>
            <path
              class='cls-32'
              d='M607.33,260.73c3.02,3.11,4.32,7.03,6.12,10.92-4.44,1.54-7.46,.74-8.74-3.93-.08-.31-.32-.58-.48-.87-1.22-2.23-1.74-5.92-4.94-5.27-2.73,.55-2.15,4.04-2.24,6.36-.19,5.13-3.25,4.76-6.84,3.97,.97-7.34,1.92-14.51,2.88-21.68,.34-2.5,1.12-4.36,4.34-3.92,2.28,.31,4.65,0,6.97,.08,4.17,.15,7.52,1.72,8.46,6.12,.92,4.34-1.51,6.83-5.52,8.23Z'
            ></path>
            <path
              class='cls-32'
              d='M455.31,271.84c-4.59,1.54-7.49,.13-8.77-4.41-.18-.63-.44-1.26-.8-1.8-1.14-1.72-1.68-4.59-4.32-4.14-2.74,.47-2.04,3.38-2.31,5.32-.81,5.84-.72,5.85-6.89,5.02,.97-7.31,1.95-14.62,2.91-21.93,.32-2.44,1.27-3.9,4.13-3.58,2.3,.25,4.65,.03,6.97,.06,4.22,.04,7.56,1.63,8.58,5.98,1.01,4.28-1.28,6.9-5.43,8.33,2.82,3.36,4.61,7.13,5.92,11.16Z'
            ></path>
            <path
              d='M798.11,168.6c-4.6,1.65-9.32,.47-13.98,.57-7.75,.16-15.5,.23-23.26,.34-7.44-1.1-14.7-3.52-22.43-3.48,9.77-1.61,19.37-4.29,29.43-3.5,2.24-1.91,4.96-1.39,7.54-1.43,5.41-.09,10.83-.1,16.25-.09,3.42,.83,7.17-.74,10.39,1.44,.33,.42,.51,.9,.56,1.43-.02,.26-.05,.52-.06,.78-1.06,1.78-.97,4.86-4.44,3.95Z'
            ></path>
            <path
              class='cls-66'
              d='M870.17,182.59c-4.3,1.57-8.81,.19-13.17,.93-1.48-1.18-3.97,.31-5.06-1.89-4.22-1.55-8.64-1.99-13.17-2.59,6.57,.51,12.57-2.18,19.47-2.81-5.13-3.4-10.74-2.77-16.03-4.17,7.5,.86,14.29-3.06,21.66-2.56,4.6-2.7,9.45-1.47,14.26-.9-1.25,5.46-3.22,10.5-7.95,13.98Z'
            ></path>
            <path
              class='cls-29'
              d='M840.87,217.39c3.66-1.4,7.6,.59,11.25-.91,1.83,2.97-1.09,4.67-1.87,6.94-1.87,5.49-5.74,6.69-11.41,6.84-8.74,.24-16.92-2.48-25.52-3.33,5.76-.2,11.36-.95,17.09-3.26-4.32-2.91-9.03-2.11-13.52-3.1,8.12-.25,15.73-3.76,23.97-3.16Z'
            ></path>
            <path
              class='cls-32'
              d='M480.21,267.36h12.43c.53,3.36-.09,5.12-3.9,4.99-6.31-.21-12.64-.06-19.93-.06,5.83-7.11,11.19-13.67,17.06-20.83h-11.28c-1.39-3.57-.91-5.28,3.07-5.16,6.26,.2,12.53,.05,19.81,.05-5.9,7.18-11.2,13.63-17.26,21Z'
            ></path>
            <path
              class='cls-29'
              d='M528.85,217.38c3.52-.84,7.09-.65,10.59-.17,2.06,.28,3.88,.08,5.72-.72-.93,4.44-3.82,7.97-5.61,12.01-.65,1.47-1.9,1.44-3.28,1.56-9.85,.86-19.34-1.51-28.96-3.31,5.59-.15,11.15-.27,16.39-2.93-5.47-2.26-11.28-2.91-17.17-3.74,7.7,.6,14.75-3.16,22.31-2.71Z'
            ></path>
            <path
              class='cls-21'
              d='M86.12,216.48c-.13,4.85-3.4,8.4-5.31,12.5-.68,1.46-2.66,.94-4.13,1.06-10.13,.83-19.94-1.53-29.89-3.25,6.56,.51,12.65-1.88,19.22-2.75-4.8-3.36-10.35-2.9-15.65-4.1,7.12,.85,13.53-2.84,20.5-2.56,4.93-2.94,10.14-1.25,15.27-.9Z'
            ></path>
            <path
              class='cls-32'
              d='M676.21,267.34h12.17c.59,4.13-1.1,5.24-4.71,5.02-4.78-.28-9.6-.07-14.51-.07,1.03-7.68,2.01-14.89,2.96-22.1,.34-2.57,1.17-4.18,4.37-3.91,3.95,.33,7.96,.08,11.94,.08,1.92,4.57-.42,5.05-4,5.06-2.82,.01-7.44-1.83-6.22,4.4,2.46,1.18,5.2,0,7.75,.72,1.28,4.05-.6,4.99-4.33,4.84-4.67-.19-4.67,0-5.42,5.96Z'
            ></path>
            <path
              class='cls-32'
              d='M625.32,256.39h7.78c.8,3.74-.37,5.53-4.16,4.93-4.37-.69-6.05,1.31-5.57,5.89h11.69c.98,3.99-.32,5.37-4.09,5.15-4.8-.27-9.62-.07-14.81-.07,1.06-7.84,2.06-15.31,3.11-22.78,.27-1.92,.84-3.38,3.41-3.21,3.65,.24,7.32,.08,10.99,.06,1.49-.01,2.62,.17,2.45,2.14-.14,1.59-.16,3.02-2.39,2.86-1.49-.11-3.02,.14-4.49-.04-3.67-.45-4.75,1.17-3.92,5.07Z'
            ></path>
            <path
              class='cls-32'
              d='M774.38,256.5c.32,3.68-.89,5.43-4.45,4.83-4.37-.74-6.05,1.3-5.56,5.88h11.7c.98,3.99-.33,5.36-4.1,5.15-4.8-.27-9.62-.07-14.81-.07,1.06-7.84,2.06-15.31,3.11-22.78,.27-1.92,.84-3.38,3.42-3.21,3.65,.24,7.32,.08,10.99,.06,1.49-.01,2.62,.17,2.45,2.14-.14,1.59-.16,3.02-2.39,2.86-1.49-.11-3.02,.14-4.49-.04-3.67-.45-4.74,1.17-3.97,4.82,2.66,.12,5.27,.24,8.12,.36Z'
            ></path>
            <path
              class='cls-21'
              d='M791.06,161.6c-4.05,1.77-8.32,.14-12.49,.78-3.49,.54-7.13,.14-10.7,.15-5.55-2.39-11.34-3.47-17.46-3.78,4.9-.61,9.82-1.05,14.69-1.87,11.63-1.96,23.25-3.4,35.02-1.28,2.07,.37,4.26,.36,5.85,2.07,0,.26,0,.52,.01,.78-.67,2.08-1.39,4.1-4.23,3.72-3.55-.46-7.18,.5-10.69-.56Z'
            ></path>
            <path
              class='cls-29'
              d='M410.05,161.6c-4.15,1.76-8.58,.05-12.79,1.03-2.6-1.38-5.09,.07-7.63,.28-1.93,.16-3.89,.55-5.78-.31-1.04-2.1-3.01-1.1-4.33-.92-9.02,1.28-17.46-2.92-26.46-2.81,5.25-.9,10.45-1.95,15.64-2.46,11.24-1.11,22.55-1.23,33.81,.13,3.21,.39,6,1.75,8,4.41,.06,.09,.04,.32-.04,.41-.1,.12-.28,.16-.43,.24Z'
            ></path>
            <path
              class='cls-32'
              d='M558.87,265.46c.77,.29,1.23,.45,1.67,.64,2.27,.93,4.92,2.62,6.77,.05,2.11-2.94-1.23-4.29-2.78-5.94-2.03-2.17-4.8-3.97-4.42-7.36,.34-3,2.16-4.87,5.25-5.91,3.68-1.23,6.83-.15,9.97,1.28,1.05,.48,.47,1.79,.18,2.72-.33,1.07-.92,1.74-2.19,1.25-.77-.29-1.54-.66-2.34-.75-1.48-.17-3.15-.39-3.86,1.39-.57,1.44,.3,2.54,1.38,3.43,.64,.53,1.34,.98,1.97,1.52,4.1,3.46,5.15,6.79,3.29,10.36-1.78,3.42-6.2,4.93-10.88,3.76-3.21-.8-6.5-1.53-4.02-6.44Z'
            ></path>
            <path
              class='cls-32'
              d='M707.2,256.74c.4,3.26-.47,5.11-4.19,4.61-4.41-.59-3.74,3.29-3.76,5.39-.04,5-2.01,6.6-7.03,5.09,1.01-7.41,2.03-14.87,3.05-22.33,.31-2.27,1.34-3.46,3.93-3.2,2.64,.26,5.32,.06,7.98,.06,1.52,0,2.97-.18,2.91,2.2-.06,2.19-.92,2.81-3.01,2.84-2.84,.04-7.02-1.43-5.9,4.33,1.65,1.34,3.82,.07,6.02,1.01Z'
            ></path>
            <path
              class='cls-69'
              d='M477.7,155.95q.03,6.53-5.63,6.36c-7.46-.23-14.94-.21-22.37-.8-5.32-.42-10.36-3.06-15.96-2.12,14.5-3.98,29.2-4.04,43.96-3.44Z'
            ></path>
            <path
              class='cls-21'
              d='M119.12,168.6c-5.59,1.49-11.28,.03-16.9,.58-1.78,.17-3.57,.23-5.36,.33-5.39-3.04-11.36-3.05-17.35-2.97-.03-.4-.06-.8-.08-1.2,7.81-.94,15.62-1.87,23.43-2.81,4.94-2.75,10.13-1.5,15.27-.9,2.29,2.05,2.72,4.36,.99,6.98Z'
            ></path>
            <path
              class='cls-21'
              d='M533.12,168.6c-4.28,1.28-8.63,.53-12.97,.51-2.43-.01-4.87,.26-7.3,.4-6.3-2-12.71-3.42-19.45-2.93-.02-.42-.04-.84-.06-1.26,7.84-.93,15.67-1.86,23.51-2.79,4.95-2.75,10.13-1.5,15.28-.9,1.7,2.13,3.05,4.31,.99,6.98Z'
            ></path>
            <path
              class='cls-29'
              d='M114.85,217.38c5.41-1.55,11.04,1.23,16.42-.85-.03,3.15-2.4,5.25-3.59,7.88-5.62,1.29-11.23,.89-16.85-.05-5.51-2.88-11.59-3.26-17.7-4.34,7.49,.69,14.31-3.05,21.7-2.63Z'
            ></path>
            <path
              class='cls-6'
              d='M878.12,168.6c-4.68,1.5-9.56-.27-14.26,.9-5.81-2.6-11.96-3.4-19.07-2.81,2.48-1.57,17.17-4.1,22.06-4.17,4.59-2.97,9.48-1.32,14.28-.9,1.22,3.28-.48,5.31-3.01,6.98Z'
            ></path>
            <path
              class='cls-29'
              d='M466.11,216.47c-2.92,1.89-6.02,.21-9.02,.45-1.75,.14-3.55-.32-5.24,.46-6.35-1.79-12.73-3.44-19.51-3.69,4.42-1.42,9.24-.6,13.54-2.4,2.17-1.58,4.52-1.7,6.99-.89,4.71-1.04,9.62,1.08,14.26-.91,1.35,1,.44,3.08,1.92,4.02,.05,.23,.1,.47,.16,.7-.5,1.48-1.26,2.6-3.09,2.26Z'
            ></path>
            <path
              class='cls-29'
              d='M835.24,168.64c-4.71,1.7-9.65-.51-14.38,.87-5.03-.71-10.07-1.23-15.13-1.65-1.84-.15-4.87,.31-3.71-3.4l-.09,.16c.63-.54,1.32-1.18,2.13-1.16,6.8,.19,13.27-2.57,20.07-2.26,4.66,.1,9.36-.77,14,.43,1.26,3.25-.95,5.08-2.89,7.02Z'
            ></path>
            <path
              class='cls-69'
              d='M118.13,161.62c-5.09,.3-10.18,.6-15.27,.9-6.41-1.41-12.68-3.74-19.49-3.37,11.62-2.38,23.24-4.4,35.52-3.09-.73,1.77,2.63,3.91-.76,5.56Z'
            ></path>
            <path
              class='cls-21'
              d='M500.12,216.48c-3.07,2-6.35,.05-9.51,.5-1.9,.27-3.83,.28-5.75,.4-3.78-.89-7.64-1.18-11.48-1.63-1.8-.21-3.6-.41-4.44-2.38l.09,.14c7.23-1.31,14.38-3.18,21.82-3.11,4.37-1.67,9.04,1.11,13.39-.87-.67,2.73-1.05,5.64-4.13,6.94Z'
            ></path>
            <path
              class='cls-69'
              d='M532.13,161.62c-5.09,.3-10.18,.6-15.28,.9-6.51-1.44-12.88-3.68-19.75-3.42,11.7-2.39,23.36-4.37,35.7-3.01-.24,1.83,1.7,3.79-.68,5.53Z'
            ></path>
            <path
              class='cls-21'
              d='M86.12,216.48c-5,1.84-10.24-.47-15.27,.9-4.64-3.15-10.34-2.51-15.52-4.3,7.15,.63,13.54-3.3,20.55-2.67,4.81-1.36,9.82,.83,14.62-.81-.72,2.76-.99,5.8-4.37,6.88Z'
            ></path>
            <path
              class='cls-69'
              d='M838.13,161.63c-4.01,1.34-8.23-.21-12.26,.9-5.36-.74-10.78-.95-16.14-1.63-1.81-.23-4.89,.33-3.65-3.4l-.1,.16c5.32,.66,10.42-.81,15.63-1.4,6.63-.76,13.42-.18,20.57-.18-.93,2.42-.93,5.01-4.04,5.55Z'
            ></path>
            <path
              class='cls-69'
              d='M881.13,161.63c-4.67,1.67-9.6-.57-14.28,.9-5.6-2.26-11.37-3.57-17.52-3.26,11.84-2.74,23.75-4.37,36.27-3.24-1.13,2.22-1,5.2-4.47,5.61Z'
            ></path>
            <path
              class='cls-58'
              d='M160.13,161.62c-4.61,1.97-9.54-.7-14.18,.94-5.9-2.14-11.95-3.5-18.33-3.36,11.82-2.21,23.57-4.51,35.94-3.13-.48,2.15-.96,4.39-3.43,5.55Z'
            ></path>
            <path
              class='cls-28'
              d='M712.22,271.77c.97-7.17,2.06-14.33,2.88-21.52,.49-4.3,3.06-4.38,6.96-3.46-.8,5.7-1.61,11.5-2.43,17.28-.14,.98-.43,1.94-.54,2.93q-.69,5.75-6.87,4.77Z'
            ></path>
            <path
              class='cls-58'
              d='M574.13,161.62c-4.62,1.97-9.54-.7-14.18,.94-6.01-2-12.09-3.6-18.56-3.29,11.89-2.41,23.76-4.51,36.32-3.21-.88,2.15-1.26,4.4-3.58,5.56Z'
            ></path>
            <path
              class='cls-28'
              d='M459.1,272.42c1.05-7.55,2.12-14.25,2.88-20.98,.48-4.3,2.17-6.29,7.08-4.5-1.08,7.72-1.93,15.56-3.36,23.29-.69,3.75-4.01,1.42-6.6,2.19Z'
            ></path>
            <path
              class='cls-29'
              d='M364.87,176.49c4.38-1.37,8.97,.71,13.34-.86,1.44,2.72-.13,4.6-1.8,6.46-1.7,.94-3.45,1.39-5.32,.46-3.29,1.12-6.77,.24-10.1,.97-1.8-1.31-4.26-.46-6.03-1.86-3.92-1.95-8.38-1.23-12.5-2.67,7.69,.7,14.8-3.03,22.42-2.49Z'
            ></path>
            <path
              class='cls-34'
              d='M110.85,224.36c5.62-.87,11.23-.42,16.85,.05-1.07,4.63-3.98,5.61-8.63,5.84-8.75,.43-16.92-2.58-25.53-3.32,5.96,.17,11.58-1.54,17.31-2.56Z'
            ></path>
            <path
              class='cls-56'
              d='M296.96,195.53c10.78-.08,21.58-.71,32.25,1.36-5.11,1.19-10.26-.84-15.34,.49-3.4-2.08-7.18-.5-10.73-1.1-2.04-.34-4.22,.37-6.18-.75Z'
            ></path>
            <path
              class='cls-24'
              d='M288.84,188.69c7.69-.25,15.38-.49,23.01,.51-.01,.39-.02,.78-.03,1.17h-15.98c-1.96-2.13-4.98,.17-7-1.69Z'
            ></path>
            <path
              class='cls-57'
              d='M824.83,202.64c8.77-.86,17.53,.1,27.5-.26-4.98,3.2-9.31,1.89-13.45,2-2.66-2.27-5.85-.62-8.75-1.17-1.74-.33-3.53-.39-5.3-.57Z'
            ></path>
            <path
              class='cls-40'
              d='M349.09,196.49c7.97-.47,15.97,.25,23.94-.69-8.91,2.34-18.02,1.56-27.07,1.64,1.05-.32,2.09-.63,3.14-.95Z'
            ></path>
            <path
              class='cls-10'
              d='M216.13,184.6c-1.12-1.87-2.96-1.02-4.46-1.04-8.21-.11-16.43-.07-24.65-.12-1.03,0-2.35,.69-2.94-.88,1.69-.01,3.39-.02,5.08-.03,8.22,0,16.43-.05,24.65,.07,.96,.01,3.89-1.28,2.32,2.02Z'
            ></path>
            <path
              class='cls-8'
              d='M383.86,162.6c2.74,.43,5.3,.25,8.01-.84,1.45-.59,3.87-1.03,5.4,.87-10.08,1-20.18,1.03-30.29,.78,5.56-1.67,11.25-.66,16.88-.81Z'
            ></path>
            <path
              class='cls-59'
              d='M654.93,222.62c6.21-.22,12.39-.09,18.55,1.6h-14.61c-.99-1.33-3.03-.08-3.95-1.6Z'
            ></path>
            <path
              class='cls-12'
              d='M146.9,222.63h14.78c-4.8,1.94-9.78,1.73-14.76,1.65,0-.55-.02-1.1-.03-1.65Z'
            ></path>
            <path
              class='cls-40'
              d='M670.8,195.7c3.69-.01,7.39-.03,11.08-.04,.17,2.52-2.25,.57-2.9,1.67l-10.09,.02c.64-.55,1.28-1.1,1.91-1.64Z'
            ></path>
            <path
              class='cls-35'
              d='M452.86,210.41c-2.33,.3-4.66,.6-6.99,.89-3.01-2.37-6.83,0-9.96-1.68,5.67-.11,11.38-1.21,16.95,.79Z'
            ></path>
            <path
              class='cls-67'
              d='M851.93,181.63c1.37,1.48,3.91-.16,5.06,1.89-5.69-.05-11.37-.11-17.06-.16,3.81-1.9,8.26,.69,12-1.73Z'
            ></path>
            <path
              class='cls-33'
              d='M238.83,195.61c2.25-.44,4.44-.49,6.4,1.16-2.79,.84-5.57,1.11-8.41,.56,.53-.74,1.84-.56,2.01-1.72Z'
            ></path>
            <path
              class='cls-30'
              d='M161.92,195.58c2.66,.02,5.32,.04,7.99,.06,.55,1.91-1.42,.98-1.93,1.69-2.37-.01-4.73-.02-7.1-.03,.35-.57,.69-1.14,1.04-1.71Z'
            ></path>
            <path
              class='cls-52'
              d='M620.87,195.59c2.23-.34,4.46-.65,7.31,1.6-3.73,.42-6.5,.68-9.32,.18,.51-.77,1.96-.49,2.01-1.78Z'
            ></path>
            <path
              class='cls-23'
              d='M363.85,168.72h6c-3.43,2.33-6.79,1.46-9.97,1.66,.92-1.52,2.97-.33,3.97-1.66Z'
            ></path>
            <path
              class='cls-50'
              d='M352.89,188.67c2.04-.25,4.07-.39,5.97,.86-2.59,1.32-5.27,1.01-7.95,.79,.66-.55,1.32-1.1,1.98-1.65Z'
            ></path>
            <path
              class='cls-4'
              d='M826.07,212.57c.66,.58,1.31,1.16,1.97,1.74-2.63,.19-5.25,.44-8.25-.38,1.91-2.43,4.24-1.29,6.28-1.37Z'
            ></path>
            <path
              class='cls-7'
              d='M669.05,185.64c-1.26,1.69-3.79-.18-4.97,1.75-1.36-.02-2.92,.83-4.3-1.34,3.24-.91,6.27-.55,9.27-.41Z'
            ></path>
            <path
              class='cls-57'
              d='M161.05,185.64c-1.26,1.69-3.77-.13-4.96,1.74-1.36-.03-2.92,.83-4.32-1.37,3.26-.82,6.29-.51,9.29-.38Z'
            ></path>
            <path
              class='cls-43'
              d='M515.05,212.57c-1.27,1.68-3.79-.18-4.97,1.75-1.36-.02-2.92,.83-4.3-1.35,3.24-.9,6.27-.54,9.27-.4Z'
            ></path>
            <path
              class='cls-26'
              d='M489.89,202.57c1.77-.33,3.51-.23,5.57,.37-2.41,2.31-5.09,1.48-7.63,1.34,.39-.93,1.95-.44,2.06-1.71Z'
            ></path>
            <path
              class='cls-7'
              d='M75.91,202.54c1.78-.35,3.54-.28,5.61,.36-2.34,2.52-5.09,1.46-7.63,1.48,.23-1.1,2.1-.4,2.02-1.84Z'
            ></path>
            <path
              class='cls-61'
              d='M217.05,219.55c-.63,1.19-2.5,.29-2.97,1.76-1.59,.16-3.18,.42-4.87-.4,2.36-2.42,5.21-1.3,7.84-1.36Z'
            ></path>
            <path
              class='cls-23'
              d='M729.93,203.47c1.82-.72,3.61-1.74,5.91-.3-2.23,1.81-4.68,1-6.96,1.13,.35-.28,.7-.55,1.05-.83Z'
            ></path>
            <path
              class='cls-38'
              d='M283.04,178.67c-1.61,1.88-4.34-.1-5.96,1.72-1.03-.04-2.31,.77-3.1-1.32,3.06-.82,6.07-.47,9.06-.41Z'
            ></path>
            <path
              class='cls-31'
              d='M253.07,226.56c2.02,1.8,5-.31,6.96,1.7-3.02,.02-6.09,.46-9.04-.68,.45-1.43,1.31-1.1,2.08-1.02Z'
            ></path>
            <path
              class='cls-56'
              d='M599.05,219.54c-.63,1.19-2.54,.25-2.97,1.78-1.39,.12-2.84,.53-4.55-1.15,2.8-1.1,5.18-.76,7.53-.62Z'
            ></path>
            <path
              class='cls-51'
              d='M416.93,195.64c2.3,1.61,5.12,.07,8.47,1.35-4.1,.76-7.26,.63-10.44,.32,.66-.56,1.31-1.12,1.97-1.68Z'
            ></path>
            <path
              class='cls-20'
              d='M645.07,219.57c1.27,1.7,3.7-.05,4.97,1.65-2.67,.19-5.36,.47-8.08-.47,.84-1.91,2.08-1.15,3.1-1.18Z'
            ></path>
            <path
              class='cls-60'
              d='M137.07,219.57c1.27,1.69,3.73-.08,4.97,1.7-2.7,.02-5.47,.59-8.18-.69,.95-1.68,2.16-1,3.21-1Z'
            ></path>
            <path
              class='cls-38'
              d='M382.07,219.57c1.24,1.77,3.72-.06,4.97,1.7-2.6,.15-5.2,.39-7.87-.28,.17-2.37,1.79-1.35,2.9-1.42Z'
            ></path>
            <path
              class='cls-2'
              d='M726.07,226.47c2.27,2.3,5.67-.22,7.99,1.88-3.01-.03-6.12,.88-8.89-1.06-.05-.04,.01-.38,.11-.45,.23-.16,.52-.25,.79-.37Z'
            ></path>
            <path
              class='cls-19'
              d='M69.08,185.57c2.35,2.17,5.65,.03,8.09,1.78-3.04,.25-6.12,.89-8.95-.89-.05-.03,0-.37,.1-.45,.22-.18,.5-.3,.76-.44Z'
            ></path>
            <path
              class='cls-53'
              d='M429.89,182.63c1.15-.28,2.27-.25,3.51,.34-2.77,1.36-5.58,1.61-8.47,1.47,1.21-1.81,3.69-.16,4.95-1.82Z'
            ></path>
            <path
              class='cls-48'
              d='M354.95,181.66c2.08,.39,4.64-.75,6.03,1.86-2.01-.05-4.03-.11-6.04-.16,0-.57,0-1.13,.01-1.7Z'
            ></path>
            <path
              class='cls-5'
              d='M375.86,181.48c1.36-1.72,2.29-3.62,2.35-5.85,1.89,.03,3.79,.06,5.68,.08,2.54,.73,5.14,.12,7.69,.37,.95,.09,2.48-.58,2.35,1.39-4.27,1.86-8.95,.56-13.38,1.81,4.11,1.94,8.96,.11,12.95,2.72-1.35,1.12-3.03,.18-4.45,.68-3.72,.69-7.48,.18-11.22,.31-1.03,.04-1.99-.13-1.97-1.51Z'
            ></path>
            <path
              class='cls-42'
              d='M404.93,192.09c4.04-5.7,10.09-6.43,18.22-1.82-6.53,.03-12,3.79-18.22,1.82Z'
            ></path>
            <path
              class='cls-9'
              d='M329.31,213.29c2.73-6.68,3.01-6.92,8.89-4.92,3.34,1.14,6.76,1,10.22,1.62-6.31,.14-12.31,1.86-19.1,3.3Z'
            ></path>
            <path
              class='cls-41'
              d='M332.66,205.54c.19-1.76,.34-3.19,.49-4.66,4.45-1.38,8.35,.56,12.39,1.9-6.28,2.62-7.32,2.85-12.89,2.76Z'
            ></path>
            <path
              class='cls-42'
              d='M338.57,217.06c-4.77-.07-9.11,3.56-14.23,2.08q4.56-5.99,14.23-2.08Z'
            ></path>
            <path
              class='cls-65'
              d='M441.65,192.29c2.11-4.31,4.64-6.46,9.35-3.78,1.62,.92,3.72,.99,5.61,1.65-5.05-.17-9.62,2.97-14.96,2.13Z'
            ></path>
            <path
              class='cls-64'
              d='M437.9,195.47c2.21-2.6,4.93-1.99,7.69-1.23,1.73,.48,3.48,.91,5.22,1.37-2.87,2.03-10.2,1.96-12.91-.14Z'
            ></path>
            <path
              class='cls-11'
              d='M437.9,195.47c4.28,2.23,8.59,1.53,12.91,.14,.46,.07,1.3,.09,1.32,.23,.26,1.84-1.24,1.62-2.25,1.64-5.62,.07-11.24,.03-17.52,.03,1.96-1.62,4.22-.65,5.55-2.04Z'
            ></path>
            <path
              class='cls-56'
              d='M377.64,188.84c-4.82,2.31-9.38,1.52-13.88,1.32,4.33-.81,8.58-2.33,13.88-1.32Z'
            ></path>
            <path
              class='cls-18'
              d='M375.86,181.48c4.19,2.7,8.85,.2,13.19,1.2-6,1.28-11.99,1.76-17.96-.13,1.67,0,3.37,.12,4.77-1.07Z'
            ></path>
            <path
              class='cls-16'
              d='M393.93,177.47c-3.01-2.51-6.88-.11-10.04-1.76,4.72-.71,9.44-.05,14.35,.43-1.43,.44-2.87,.88-4.3,1.32Z'
            ></path>
            <path
              class='cls-5'
              d='M448.31,184.39q2.43-3.01,8.58-1.29c-2.86,1.3-5.63,1.73-8.58,1.29Z'
            ></path>
            <path
              class='cls-42'
              d='M222.7,172.33c1.64-3.87,2.9-6.98,6.62-5.69,7.54,2.63,15.35,1.58,23.06,2.42-9.73,.45-19.5,.12-29.69,3.26Z'
            ></path>
            <path
              class='cls-41'
              d='M250.56,162.11c-7.93-.5-15.56,1.59-23.53,2.72,.09-4.5,2.56-6.05,5.72-5.12,5.84,1.72,11.76,2.15,17.81,2.41Z'
            ></path>
            <path
              class='cls-54'
              d='M290.28,164.04c4.63-9.23,11.35-1.57,17.17-2.01-5.7,.51-11.49,.32-17.17,2.01Z'
            ></path>
            <path
              class='cls-17'
              d='M304.39,169.12c-5.94,.61-11.9,.06-18.31,1.51,1.87-4.34,4.14-4.6,7.09-3.15,3.54,1.74,7.49,.75,11.22,1.64Z'
            ></path>
            <path
              class='cls-68'
              d='M799.21,203.52c-6.16,1.79-12.46,2.81-18.94,3.36,5.32,.39,10.57,.49,15.24,3.05-5.93,2.18-12.16,3.16-18.55,3.07-.32-1.22,.31-2.2,1.34-3.81-7.49,.9-14.55,2.48-21.32-.65-5.52-5.26-5.86-8.09-2.59-14.86,4.09-8.48,11.3-13.06,19.61-16.43,6.07-1,12.16-2.98,18.29-.9,3.94,1.34,3.73-2.71,5.74-3.79,.3-.49,.6-.48,.89,.02,4.71,.94,9.97-.33,14.28,3.43-6.03,1.53-11.65,3.41-17.8,3.03,7.33-.19,13.73,3.9,21.01,3.98-8.5-.59-16.28,3.51-24.77,3.19,4.07,1.42,8.51,.29,12.32,2.42,.64,.58,.64,1.16,0,1.74-5.08,1.15-10.1,2.65-15.49,2.53,4.98,.72,10.09,.67,14.43,3.58-.82,.91-2.13,.15-3,.89-5.09,1.49-10.37,1.69-15.68,2.3,5.06,1.3,10.72-.07,15,3.86Z'
            ></path>
            <path
              class='cls-9'
              d='M697.85,181.41c1.34-4.7,4.2-6.45,9.27-5.92,5.42,.57,10.96,.18,16.44,.11,2.36-.03,4.53,.25,6.78-1.8,2.61-2.39,12.24,.05,13.66,2.75-6.49-.21-12.53,3.36-19.24,2.39,4.97,1.44,10.64,.31,14.96,4.56-3.65-.36-6.81,.61-9.99,1.55-1.78,.52-3.74,1.2-5.44-.4-.36-2.71-2.5-1.56-3.86-1.58-6.24-.12-12.48,.02-18.72-.12-1.32-.03-3.5,1.22-3.85-1.54Z'
            ></path>
            <path
              class='cls-17'
              d='M720.65,192.35c2.32-6.45,2.93-6.93,9.17-4.92,2.97,.96,6.05,1.15,9.08,2.38-6.26-.17-11.87,3.58-18.25,2.54Z'
            ></path>
            <path
              class='cls-9'
              d='M732.45,197.05c-5.46,.95-10.16,3.44-15.42,2.14,2.17-6.36,6.44-7.02,15.42-2.14Z'
            ></path>
            <path
              class='cls-46'
              d='M697.85,181.41c1.12,1.91,2.99,1.05,4.51,1.07,6.49,.1,12.98-.01,19.47,.1,1.06,.02,3.83-1.16,2.45,2.06-1.09-1.92-2.95-1.08-4.46-1.1-8.26-.1-16.52-.06-24.77-.11-1.03,0-2.36,.71-2.95-.88,1.96-.2,4.12,.66,5.76-1.14Z'
            ></path>
            <path
              class='cls-15'
              d='M678.98,197.32l2.9-1.67c1.79-.24,3.57-.38,5.5,.18-2.56,2.44-5.55,1.57-8.4,1.49Z'
            ></path>
            <path
              class='cls-54'
              d='M673.05,161.61c2.69-3.74,7.08-2.68,9.85-1.74,5.39,1.84,10.69,1.53,16.08,1.71,.76,.03,1.7-.24,1.9,.94-8.48-.54-16.67,1.55-24.99,2.54-1.18,.14-3.45,1.54-3.78-1.37,.41-.66,.12-1.63,.94-2.09Z'
            ></path>
            <path
              class='cls-70'
              d='M798.92,172.58c-.3,0-.59-.01-.89-.02,.16-1.32,1.25-2.61,.09-3.96,2.88,.1,2.32-3.03,3.91-4.14,.69,2.63,2.92,1.78,4.51,1.76,5.07-.06,9.57,2.11,14.33,3.29-7.44,.11-14.64,1.94-21.94,3.07Z'
            ></path>
            <path
              class='cls-70'
              d='M687.19,169.29c-5.28,.38-9.72,2.58-14.61,2.27-1.7-.11-4.2,.46-3.93-2.06,.15-1.35,1.93-2.8,4.1-3,4.92-.44,9.4,1.03,14.44,2.78Z'
            ></path>
            <path
              class='cls-44'
              d='M673.05,161.61c-.06,.81,.02,1.68-.94,2.09-1.65-2.19-3.99-.8-6-1.15-2.01-.35-4.29,.98-6.05-.96,4.33,0,8.66,.01,12.99,.02Z'
            ></path>
            <path
              class='cls-41'
              d='M120.11,175.58c1.01-2.68,3.27-2.31,5.46-2.3,4.7,.02,8.98,1.67,13.3,3.21-4.18-.16-8.21,.44-12.24,1.66-2.55,.78-5.61,1.44-6.52-2.58Z'
            ></path>
            <path
              class='cls-65'
              d='M107.86,204.34c-4.54,.42-8.94,2.2-13.64,1.53,1.65-6.21,2.1-6.44,7.95-4.36,1.22,.43,2.51,.69,3.77,1.03,.42,.84,2.57-.17,1.92,1.8Z'
            ></path>
            <path
              class='cls-47'
              d='M132.12,182.86c-4.23,.93-6.94,1.53-9.65,2.12-1.36-1.17-1.07-2.71-1.16-4.34,3.64-1.25,6.57,.34,10.81,2.21Z'
            ></path>
            <path
              class='cls-27'
              d='M109.66,197.06c-4.54,.86-8.06,1.52-12.19,2.3,.83-3.79,1.43-6.56,5.94-4.06,1.52,.84,3.42,.99,6.25,1.76Z'
            ></path>
            <path
              class='cls-36'
              d='M122.38,187.39c3.11,.69,5.82,2.65,9.13,2.54-8.86,1.2-9.11,1.12-9.13-2.54Z'
            ></path>
            <path
              class='cls-37'
              d='M107.86,204.34c-.64-.6-1.28-1.2-1.92-1.8q5.51-.14,9.49,1.8h-7.57Z'
            ></path>
            <path class='cls-25' d='M97.64,189.65h9.4c-3.6,3.97-6.49,.31-9.4,0Z'
            ></path>
            <path
              class='cls-41'
              d='M543.05,173.42l9.83,3.07c-4.28-.16-8.41,.46-12.55,1.66-1.71,.5-4.6,2.15-5.5-1.53-.64-2.1-.42-3.67,2.32-3.54,1.97,.09,3.98-.35,5.91,.34Z'
            ></path>
            <path
              class='cls-55'
              d='M521.83,204.31c-4.69,.49-9.26,2.25-14.18,1.58,2.54-6.37,2.66-6.42,8.47-4.34,1.23,.44,2.54,.69,3.81,1.03,.43,.81,2.55-.24,1.91,1.74Z'
            ></path>
            <path
              class='cls-3'
              d='M545.39,182.98c-2.73,.61-4.79,1.21-6.9,1.48-.99,.13-2.42,1.24-3.06-.34-.4-1-.48-2.38-.1-3.34,.4-1.01,1.74-.68,2.71-.53,2.42,.37,4.81,.84,7.35,2.73Z'
            ></path>
            <path
              class='cls-47'
              d='M511.26,199.09c1.65-5.97,1.55-5.67,10.69-1.98-3.48,.84-6.73,1.88-10.69,1.98Z'
            ></path>
            <path
              class='cls-49'
              d='M543.05,173.42c-1.78,.03-3.59,.25-5.34,.04-2.64-.31-2.94,1.19-2.89,3.16-1.54-.5-3.49,.81-4.73-1.05,1.11-.15,2.87,.09,3.22-.5,2.67-4.57,6.29-2.43,9.75-1.64Z'
            ></path>
            <path
              class='cls-56'
              d='M508.05,197.23c-3.45,.1-6.26,1.34-9.17-1.44,3.3-.32,6.04-1.01,9.17,1.44Z'
            ></path>
            <path
              class='cls-62'
              d='M536.19,187.55c2.58,.04,3.73,1.79,6.26,2.71q-5.81,.31-6.26-2.71Z'
            ></path>
            <path
              class='cls-63'
              d='M521.83,204.31c-.64-.58-1.27-1.16-1.91-1.74,2.02,.02,4.04,.03,6.06,.05,.49,.73,2.48-.22,1.91,1.7-2.02,0-4.04,0-6.07,0Z'
            ></path>
            <path
              class='cls-20'
              d='M527.9,204.32c-.64-.57-1.28-1.13-1.91-1.7,2.24-.23,4.53-.64,6.28,1.48-1.47,.6-2.92,.4-4.36,.21Z'
            ></path>
            <path
              class='cls-45'
              d='M167.98,197.33c.64-.56,1.29-1.13,1.93-1.69,2.56-.21,5.13-.47,8.43,.57-3.81,1.91-7.13,1.14-10.36,1.12Z'
            ></path>
            <path
              class='cls-1'
              d='M799.89,197.37c.73-1.21,1.94-.82,3-.89,6.14,.42,12.19-1.49,19.6-.73-8.27,2.12-15.45,1.73-22.61,1.62Z'
            ></path>
            <path
              class='cls-22'
              d='M803.95,190.37c0-.58,0-1.16,0-1.74,2.51,.41,5.01,.82,7.52,1.23,0,.17-.02,.34-.03,.51h-7.49Z'
            ></path>
            <path
              class='cls-41'
              d='M778.08,221.31c3.43,0,6.75,.43,9.89,2.56-6.46,1.66-12.6,3.18-19.02,2.56,1.15-2.44,2.03-5.04,4.11-6.93,.22,.05,.44,.1,.66,.15,1.41,.67,3.16,.47,4.37,1.67Z'
            ></path>
            <path
              class='cls-70'
              d='M775,214.43c5.94-.3,11.82-.17,17.81,2.87-4.6,.11-8.37,2.51-12.75,2.25-2.38,.64-4.77,1.61-7.1-.16l.1,.12c-.25-2.03,1.94-3.13,1.94-5.07Z'
            ></path>
            <path
              class='cls-56'
              d='M772.96,219.38c2.37,.05,4.73,.11,7.1,.16-.66,.59-1.32,1.18-1.97,1.77-1.82-.36-4.6,1.83-5.12-1.93Z'
            ></path>
            <path
              class='cls-14'
              d='M468.95,213.37c4.7,1.74,9.92,.94,14.56,3.02,.56,.25,1.28,.14,1.36,1-3.6-.09-7.03,.67-10.53,1.53-2.87,.7-6.74,2.45-8.23-2.44,1.46-.57,2.21-1.78,2.84-3.1Z'
            ></path>
            <path
              class='cls-14'
              d='M480.52,223.48c-4.93-.23-9.13,3.53-14.01,2.87-.74-5.39-.39-5.94,4.62-5.22,3.18,.45,6.26,1.55,9.39,2.36Z'
            ></path>
            <path
              class='cls-39'
              d='M413.91,266.31c-3.77-.08-6.04-2.52-5.9-6.33,.16-4.48,3.56-7.71,8.03-7.63,3.63,.07,6.05,2.67,5.95,6.39-.12,4.43-3.58,7.67-8.08,7.57Z'
            ></path>
            <path
              class='cls-39'
              d='M517.98,258.69c-.1,4.43-3.53,7.69-8.03,7.61-3.77-.06-6.07-2.49-5.95-6.29,.14-4.48,3.52-7.73,7.99-7.67,3.65,.05,6.08,2.62,5.99,6.35Z'
            ></path>
            <path
              class='cls-39'
              d='M787.11,267.26c.7-4.89,1.46-9.09,1.86-13.32,.21-2.25,1.27-2.67,3.21-2.61,4.24,.13,7.34,3.14,7.63,7.55,.26,4.03-2.78,7.85-6.82,8.35-1.76,.22-3.57,.04-5.87,.04Z'
            ></path>
            <path
              class='cls-39'
              d='M647.11,267.26c.7-4.88,1.46-9.08,1.86-13.32,.21-2.24,1.26-2.67,3.21-2.62,4.24,.13,7.35,3.13,7.63,7.54,.26,4.03-2.77,7.86-6.82,8.36-1.76,.22-3.57,.04-5.88,.04Z'
            ></path>
            <path
              class='cls-9'
              d='M598.4,257.2c1.49-2.7-1.36-6.7,3.65-6.83,2.52-.07,4.49,1.05,4,3.8-.7,3.96-3.91,3.13-7.65,3.03Z'
            ></path>
            <path
              class='cls-9'
              d='M440.27,257.34c1.64-2.85-1.23-6.89,3.81-6.98,2.53-.04,4.45,1.09,3.97,3.83-.71,4.06-3.99,2.96-7.78,3.14Z'
            ></path>
            <path
              class='cls-70'
              d='M806.07,157.5c-.46,2.88,1.71,2.14,3.09,2.06,5.83-.36,11.18,1.78,16.71,2.97-8.09-.54-15.79,3.29-23.94,2.1,.04-.33,.08-.66,.12-.99,.51-.59,.2-1.57,.97-2.04,1.35-1.12,1.24-3.32,3.06-4.09Z'
            ></path>
            <path
              class='cls-60'
              d='M803.01,161.59c.06,.86-.21,1.57-.97,2.04-1.5-2.01-3.65-.77-5.49-1.09-1.83-.32-3.94,.94-5.5-.95,3.98,0,7.97,0,11.95,0Z'
            ></path>
          </g>
        </g>
      </svg>
    </a>
    <ul class='font-semibold lg:hidden'>
      <li>
        <p>+263 773 275 941</p>
      </li>
      <li><p>sales@netspan.co.zw</p></li>
      <li>
        <a href='https://www.facebook.com/netspantech'
          ><img
            src='../images/facebook.svg'
            alt='facebook icon'
            class='w-8 h-8'
          />
        </a>
      </li>
      <li>
        <a href='https://www.facebook.com/netspantech'
          ><img
            src='../images/whatsapp.svg'
            alt='whatsapp icon'
            class='w-8 h-8'
          />
        </a>
      </li>
    </ul>
  </div>
  <div class='flex justify-between gap-2 xl:gap-16 xl:justify-start flex-wrap'>
    <div class=''>
      <a href='/services' class='font-semibold text-3xl mb-2 lg:text-xl'
        >Services</a
      >
      <ul
        class='text-base flex flex-col gap-2 lg:hidden lg:invisible lg:pointer-events-none'
      >
        <li><a href='/services'>Network Installation</a></li>
        <li><a href='/services'>Fibre Installation</a></li>
        <li><a href='/services'>Voice and Data</a></li>
      </ul>
    </div>
    <div class=''>
      <a href='/about' class='font-semibold text-3xl mb-2 lg:text-xl'
        >Our Offices</a
      >
      <ul
        class='text-base flex flex-col gap-1 lg:hidden lg:invisible lg:pointer-events-none'
      >
        <li>
          <address>
            <li>57 Nelson Mandela Ave</li>
            <li>
              <span class='block'>3rd FLOOR, Old Shell House</span>
              <span class='block'>Cnr 1ST Street & Nelson Mandela St.</span>
              <span class='block'>Harare</span>
            </li>
            <li>OFFICE ROOM 301</li>
          </address>
        </li>
      </ul>
    </div>
    <div class='block basis-1/5 xl:basis-auto'>
      <a href='/services' class='font-semibold text-3xl mb-2 lg:text-xl'
        >Newsletter</a
      >
      <ul class='text-base lg:hidden lg:invisible lg:pointer-events-none'>
        <li class='mb-4'>
          <p class='text-base'>
            Stay informed and up-to-date with our exclusive weekly newsletter,
            join now!
          </p>
        </li>
        <li>
          <input
            class='py-4 px-2 block w-full'
            type='email'
            placeholder='Enter your email address'
          />
        </li>
      </ul>
    </div>
  </div>
</footer>
<small class='block text-center mx-auto w-4/5 text-base'
  >&copy; 2023 NetSpan Tech Ltd. All rights reserved.</small
>
