---
import '../styles/globals.css';
---

<div
  class='modal fixed hidden invisible pointer-events-none left-0 top-0 w-full h-full'
>
  <div class='w-full h-full content bg-medium-grey p-8 border rounded relative'>
    <button
      class='close flex items-center justify-center absolute top-12 right-24'
      ><svg
        fill='none'
        stroke='currentColor'
        stroke-width='1.5'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'
        aria-hidden='true'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M6 18L18 6M6 6l12 12'></path>
      </svg></button
    >
    <menu class='flex items-center justify-center h-full'>
      <nav>
        <ul class='flex flex-col justify-between gap-20 text-4xl w-full h-full'>
          <li><a href='/'>Home</a></li>
          <li><a href='/products'>Products</a></li>
          <li><a href='/services'>Services</a></li>
          <li><a href='/about'>About</a></li>
        </ul>
      </nav>
    </menu>
  </div>
</div>
