---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Header />
<main class='w-4/5 mx-auto mb-24'>
  <ul
    class='grid grid-cols-4 justify-between justify-items-center xl:grid-cols-3 xl:gap-8'
  >
    <li class='hover:scale-110 transition-all'>
      <a href='/products/tenda'
        ><img
          class='w-64 h-64 object-contain xl:w-32 xl:h-32'
          src='../images/tenda-2.svg'
          alt='Tenda Logo'
        /></a
      >
    </li>
    <li class='hover:scale-110 transition-all'>
      <a href='/products/mikrotik'
        ><img
          class='w-64 h-64 object-contain xl:w-32 xl:h-32'
          src='../images/mikrotik.svg'
          alt='Microtik Logo'
        /></a
      >
    </li>
    <li class='hover:scale-110 transition-all'>
      <a href='/products/ubiquiti'
        ><img
          class='w-64 h-64 object-contain xl:w-32 xl:h-32'
          src='../images/ubiquiti.svg'
          alt='Tenda Logo'
        /></a
      >
    </li>
    <li class='hover:scale-110 transition-all'>
      <a href='/products/trendnet'
        ><img
          class='w-64 h-64 object-contain xl:w-32 xl:h-32'
          src='../images/trendnet.svg'
          alt='Tenda Logo'
        /></a
      >
    </li>
    <li class='hover:scale-110 transition-all'>
      <a href='/products/linkbasic'
        ><img
          class='w-64 h-64 object-contain xl:w-32 xl:h-32 mix-blend-multiply'
          src='../images/linkbasic.svg'
          alt='Tenda Logo'
        /></a
      >
    </li>
    <!-- <li class='hover:scale-110 transition-all'>
      <a href='/products/fanvil'
        ><img
          class='w-64 h-64 object-contain xl:w-32 xl:h-32'
          src='../images/fanvil.svg'
          alt='Tenda Logo'
        /></a
      >
    </li> -->
  </ul>
</main>
<Footer />
