---
import Header from '../../components/Header.astro';
import HeroLayout from '../../layouts/HeroLayout.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/globals.css';
---

<Header />
<HeroLayout heading='Products' subtext='Our best products' />
<main class='w-4/5 mx-auto flex flex-col gap-16 mb-16'>
  <div class='products-box'>
    <div class=''>
      <img
        src='../../images/linkbasic.svg'
        alt='Linkbasic Logo'
        class='w-64 h-64 object-contain'
      />
    </div>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Linkbasic Cat6 UTP Solid Cable (Grey) - 100m Box
        </h3>
        <small class='text-base'>CAT6-UTP-100</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-FTP-305.png'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Linkbasic Cat6 UTP Solid Cable (Grey) - 305m Box
        </h3>
        <small class='text-base'>CAT6-UTP-305</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Linkbasic Cat6 FTP Solid LAN Cable (Grey) - 100m Box
        </h3>
        <small class='text-base'>CAT6-FTP-100</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Linkbasic Cat6 FTP Shielded UV Protected Solid Cable (Black)
        </h3>
        <small class='text-base'>CAT6-FTP-305</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Linkbasic RJ11 Cat3 UTP Modular Plug</h3>
        <small class='text-base'>RJ11-3-UTP</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Linkbasic RJ45 Cat5e FTP Shielded Modular Plug</h3>
        <small class='text-base'>RJ45-5E-FTP</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Linkbasic RJ45 Cat6 UTP Modular Plug</h3>
        <small class='text-base'>RJ45-6-UTP</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Linkbasic RJ45 Cat6 FTP Shielded Modular Plug</h3>
        <small class='text-base'>RJ45-6-FTP</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Linkbasic RJ45 Cat7 FTP Shielded Modular Plug</h3>
        <small class='text-base'>RJ4-Cat7-FTP</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div>
  <!-- <div class='products-box'>
    <h2 class='text-xl mb-4'>PoE Adapters</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 15W PoE Injector</h3>
        <small class='text-base'>SKU PoE-15F</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda PoE Injectors 30W</h3>
        <small class='text-base'>SKU PoE30G-AT</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div>
  <div class=''>
    <h2 class='text-xl mb-4'>PoE Switches</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div class='products-box'>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 5-Port 10/100Mbps Desktop Switch with 4-Port PoE 63W</h3>
        <small class='text-base'>SKU TEF1105P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 9-Port 10/100Mbps Desktop Switch with 8-Port PoE 63W</h3>
        <small class='text-base'>SKU TEF1109P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/CAT6-UTP-100.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Tenda 16-Port FE+2GE+1SFP Rackmount Switch with 16-Port PoE 250W
        </h3>
        <small class='text-base'>SKU TEF1118P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/TEF1126P.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 24-Port FE+2GE+1SFP Smart Switch with 24-Port PoE 410W</h3>
        <small class='text-base'>SKU TEF1126P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/TEF1126P.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 24-Port FE+1GE+1SFP Unmanaged PoE+ Switch 410W</h3>
        <small class='text-base'>TEF1226P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/TEG1105P.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 5-Port Gigabit Desktop Switch with 4-Port PoE 63W</h3>
        <small class='text-base'>SKU TEG1105P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/TEG1109P.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 8-Port Gigabit Desktop Switch with 8-Port PoE 102W</h3>
        <small class='text-base'>SKU TEG1109P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/TEG1116P.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 16-Port Gigabit Desktop Switch with 16-Port PoE 150W</h3>
        <small class='text-base'>SKU TEG1116P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/linkbasic/TEG3224P.jpeg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 24-Port Gigabit Managed PoE Switch with 4-Port SFP Combo</h3>
        <small class='text-base'>SKU TEG3224P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div> -->
</main>

<Footer />
