---
import Header from '../../components/Header.astro';
import HeroLayout from '../../layouts/HeroLayout.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/globals.css';
---

<Header />
<HeroLayout heading='Products' subtext='Our best products' />
<main class='w-4/5 mx-auto flex flex-col gap-16 mb-16'>
  <div class='products-box'>
    <div class=''>
      <img
        src='../../images/mikrotik.svg'
        alt='Mikrotik Logo'
        class='w-64 h-64 object-contain'
      />
    </div>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-2011UiAS-2HnD-IN.png'
          alt='Product Photo'
        />
        <h3>
          MikroTik RB-2011iL-IN - ROS L4, 600MHz CPU, 64MB RAM, 5xGE, 5xFE,
          Desktop
        </h3>
        <small>RB-2011iL-IN</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-2011UiAS-2HnD-IN.png'
          alt='Product Photo'
        />
        <h3>
          MikroTik RB-2011iLS-IN - ROS L4, 600MHz CPU, 64MB RAM, 5xFE, 5xGE, 1x
          SFP, Desktop
        </h3>
        <small>RB-2011iLS-IN</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-2011UiAS-2HnD-IN.png'
          alt='Product Photo'
        />
        <h3>
          MikroTik RB-2011UiAS-IN - ROS L5, 600MHz CPU, 128MB RAM, 5xGE, 5xFE,
          1xSFP, Desktop
        </h3>
        <small>RB-2011UiAS-IN</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-951Ui-2HnD.jpg'
          alt='Product Photo'
        />
        <h3>MikroTik RB-760iGS - ROS L4, hEX S Router</h3>
        <small>RB-760iGS</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-951Ui-2HnD.jpg'
          alt='Product Photo'
        />
        <h3>
          MikroTik RB-750Gr3 hEX - ROS L4, 400Mhz 64MB 5xGE Case and PSU |
          RB-HEX
        </h3>
        <small>RB-750Gr3</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-951Ui-2HnD.jpg'
          alt='Product Photo'
        />
        <h3>MikroTik RB-4011iGS + - ROS L5, with 1U rackmount case</h3>
        <small>RB-4011iGS + RM</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-951Ui-2HnD.jpg'
          alt='Product Photo'
        />
        <h3>
          MikroTik RB-CRS326-24G-2S+RM - ROS L5, 800MHz CPU, 512MB RAM, 24xGE,
          2xSFP+, Rackmount
        </h3>
        <small>RB-CRS326-24G-2S+RM</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-951Ui-2HnD.jpg'
          alt='Product Photo'
        />
        <h3>
          MikroTik RB-CCR1016-12G Cloud Core Router - 16 x 1.2GHz Core CPU, 2GB
          RAM, ROS L6
        </h3>
        <small>RB-CCR1016-12G</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-951Ui-2HnD.jpg'
          alt='Product Photo'
        />
        <h3>
          MikroTik RB-CCR1009-7G-1C-1S+ Cloud Core Router - 9 x 1.2GHz Core CPU,
          2GB RAM, ROS L6
        </h3>
        <small>RB-CCR1009-7G-1C-1S+</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-951Ui-2HnD.jpg'
          alt='Product Photo'
        />
        <h3>
          MikroTik RB-2011iLS-IN - ROS L4, 600MHz CPU, 64MB RAM, 5xFE, 5xGE, 1x
          SFP, Desktop
        </h3>
        <small>RB-2011iLS-IN</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div>
  <div class='products-box'>
    <h2 class='text-xl mb-4'>PoE Adapters</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      more content
    </section>
  </div>
  <div class=''>
    <h2 class='text-xl mb-4'>PoE Switches</h2>
    <!-- <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div class='products-box'>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE105P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 5-Port 10/100Mbps Desktop Switch with 4-Port PoE 63W</h3>
        <small>SKU TEF1105P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE109P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 9-Port 10/100Mbps Desktop Switch with 8-Port PoE 63W</h3>
        <small>SKU TEF1109P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE118P.jpg'
          alt='Product Photo'
        />
        <h3>
          Tenda 16-Port FE+2GE+1SFP Rackmount Switch with 16-Port PoE 250W
        </h3>
        <small>SKU TEF1118P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE126P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 24-Port FE+2GE+1SFP Smart Switch with 24-Port PoE 410W</h3>
        <small>SKU TEF1126P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE126P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 24-Port FE+1GE+1SFP Unmanaged PoE+ Switch 410W</h3>
        <small>TEF1226P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE105P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 5-Port Gigabit Desktop Switch with 4-Port PoE 63W</h3>
        <small>SKU TEG1105P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE109P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 8-Port Gigabit Desktop Switch with 8-Port PoE 102W</h3>
        <small>SKU TEG1109P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE116P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 16-Port Gigabit Desktop Switch with 16-Port PoE 150W</h3>
        <small>SKU TEG1116P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/mikrotik/RB-LHGR_R11e-LTE224P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 24-Port Gigabit Managed PoE Switch with 4-Port SFP Combo</h3>
        <small>SKU TEG3224P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
            <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section> -->
  </div>
</main>

<Footer />
