---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Header />
<main class='w-4/5 mx-auto'>
  <div class=''>
    <ul class='flex'>
      <li>
        <a href='/'
          ><img
            class='w-8 h-8 object-contain'
            src='../images/tenda-2.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/'
          ><img
            class='w-8 h-8 object-contain'
            src='../images/tenda-2.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/'
          ><img
            class='w-8 h-8 object-contain'
            src='../images/tenda-2.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/'
          ><img
            class='w-8 h-8'
            object-contain
            src='../images/tenda-2.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/'
          ><img
            class='w-8 h-8'
            object-contain
            src='../images/tenda-2.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
      <li>
        <a href='/'
          ><img
            class='w-8 h-8'
            object-contain
            src='../images/tenda-2.svg'
            alt='Tenda Logo'
          /></a
        >
      </li>
    </ul>
  </div>
</main>
<Footer />
