---
import Header from '../../components/Header.astro';
import HeroLayout from '../../layouts/HeroLayout.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/globals.css';
---

<Header />
<HeroLayout heading='Products' subtext='Our best products' />
<main class='w-4/5 mx-auto flex flex-col gap-16 mb-16'>
  <div class='products-box'>
    <div class=''>
      <img
        src='../../images/tenda-2.svg'
        alt='Tenda Logo'
        class='w-64 h-64 object-contain'
      />
    </div>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/S105.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 10/100Mbps Desktop Switch : 5 Port</h3>
        <small>SKU S105</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/S108.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 10/100Mbps Desktop Switch : 8 Port</h3>
        <small>SKU S108</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/SG108.jpg'
          alt='Product Photo'
        />
        <h3>Tenda Gigabit Ethernet Desktop Switch : 8 Port</h3>
        <small>SKU SG108</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEF1016D.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 16 Port Fast Ethernet Desktop Switch</h3>
        <small>SKU TEF1016D</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEF1024D.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 24 Port Fast Ethernet Desktop Switch</h3>
        <small>SKU TEF1024D</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEG1016D.jpg'
          alt='Product Photo'
        />
        <h3>Tenda Gigabit Ethernet Desktop/Rackmount Switch : 16 Port</h3>
        <small>SKU TEG1016D</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEG1024D.jpg'
          alt='Product Photo'
        />
        <h3>Tenda Gigabit Ethernet Desktop/Rackmount Switch : 24 Port</h3>
        <small>SKU TEG1024D</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
    </section>
  </div>
  <div class='products-box'>
    <h2 class='text-xl mb-4'>PoE Adapters</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/PoE-15F.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 15W PoE Injector</h3>
        <small>SKU PoE-15F</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/PoE30G-AT.jpg'
          alt='Product Photo'
        />
        <h3>Tenda PoE Injectors 30W</h3>
        <small>SKU PoE30G-AT</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
    </section>
  </div>
  <div class=''>
    <h2 class='text-xl mb-4'>PoE Switches</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div class='products-box'>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEF1105P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 5-Port 10/100Mbps Desktop Switch with 4-Port PoE 63W</h3>
        <small>SKU TEF1105P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEF1109P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 9-Port 10/100Mbps Desktop Switch with 8-Port PoE 63W</h3>
        <small>SKU TEF1109P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEF1118P.jpg'
          alt='Product Photo'
        />
        <h3>
          Tenda 16-Port FE+2GE+1SFP Rackmount Switch with 16-Port PoE 250W
        </h3>
        <small>SKU TEF1118P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEF1126P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 24-Port FE+2GE+1SFP Smart Switch with 24-Port PoE 410W</h3>
        <small>SKU TEF1126P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEF1126P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 24-Port FE+1GE+1SFP Unmanaged PoE+ Switch 410W</h3>
        <small>TEF1226P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEG1105P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 5-Port Gigabit Desktop Switch with 4-Port PoE 63W</h3>
        <small>SKU TEG1105P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEG1109P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 8-Port Gigabit Desktop Switch with 8-Port PoE 102W</h3>
        <small>SKU TEG1109P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEG1116P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 16-Port Gigabit Desktop Switch with 16-Port PoE 150W</h3>
        <small>SKU TEG1116P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/TEG3224P.jpg'
          alt='Product Photo'
        />
        <h3>Tenda 24-Port Gigabit Managed PoE Switch with 4-Port SFP Combo</h3>
        <small>SKU TEG3224P</small>
        <p>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
      </div>
    </section>
  </div>
</main>

<Footer />
