---
import Header from '../../components/Header.astro';
import HeroLayout from '../../layouts/HeroLayout.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/globals.css';
---

<Header />
<HeroLayout heading='Products' subtext='Our best products' />
<main class='w-4/5 mx-auto flex flex-col gap-16 mb-16'>
  <div class='products-box'>
    <div class=''>
      <img
        src='../../images/trendnet.svg'
        alt='Trendnet Logo'
        class='w-64 h-64 object-contain'
      />
    </div>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/trendnet/TE100-S5.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>TRENDnet 5-Port 10/100Mbps Switch | TE100-S5</h3>
        <small class='text-base'>TE100-S5</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/trendnet/TE100-S8.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>TRENDnet 8-Port 10/100Mbps Switch | TE100-S8</h3>
        <small class='text-base'>TE100-S8</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/trendnet/TE100-S16DG.png'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          TRENDnet 16-port 10/100Mbps GREENnet Switch | TE100-S16DG
        </h3>
        <small class='text-base'>TE100-S16DG</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/trendnet/TE100-S16G.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          TRENDnet 10/100 16-Port GREENnet Ethernet Switch | TE100-S16G
        </h3>
        <small class='text-base'>TE100-S16G</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div>
  <!-- <div class='products-box'>
    <h2 class='text-xl mb-4'>PoE Adapters</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/trendnet/TE100-S5.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>TRENDnet 5-port GREENnet Gigabit Switch | TEG-S5G</h3>
        <small class='text-base'>TEG-S5G</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/trendnet/TE100-S5.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>TRENDnet 5-port GREENnet Gigabit Switch | TEG-S50G</h3>
        <small class='text-base'>TEG-S50G</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div>
  <div class=''>
    <h2 class='text-xl mb-4'>PoE Switches</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div class='products-box'>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/trendnet/TE100-S5.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>TRENDnet 2-Port USB KVM Switch with 2 sets of cables | TK-207K</h3>
        <small class='text-base'>TK-207K</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/trendnet/TE100-S5.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>TRENDnet 4-Port USB KVM Switch Kit | TK-407K</h3>
        <small class='text-base'>TK-407K</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
              <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div> -->
</main>

<Footer />
