---
import Header from '../../components/Header.astro';
import HeroLayout from '../../layouts/HeroLayout.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/globals.css';
---

<Header />
<HeroLayout heading='Products' subtext='Our best products' />
<main class='w-4/5 mx-auto flex flex-col gap-16 mb-16'>
  <div class='products-box'>
    <div class=''>
      <img
        src='../../images/ubiquiti.svg'
        alt='Ubiquiti Logo'
        class='w-64 h-64 object-contain'
      />
    </div>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Ubiquiti NanoStation LOCO 5ACL : 5GHz 13dBi without PoE | LOCO-5ACL
        </h3>
        <small class='text-base'>LOCO-5ACL</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Ubiquiti AirMax NanoStation MIMO M2 : 2.4GHz 11dBi
        </h3>
        <small class='text-base'>NSM2</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Ubiquiti AirMax NanoStation MIMO M5 : 5GHz 16 dBi | NSM5
        </h3>
        <small class='text-base'>NMS5</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/SBE-Rocket.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Ubiquiti AirMax Rocket MIMO M2 : 2.4GHz | Rocket-M2
        </h3>
        <small class='text-base'>Rocket-M2</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Ubiquiti AirMax Rocket MIMO M5 : 5GHz</h3>
        <small class='text-base'>Rocket-M5</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/SBE-Rocket.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Ubiquiti Rocket AC 5GHz PtMP Radio 1xGE | RocketAC-Lite
        </h3>
        <small class='text-base'>RocketAC-Lite</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Ubiquiti AirMax Omni Antenna O513 : 5GHz 13dBi | AIR-O513
        </h3>
        <small class='text-base'>AIR-O513</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>
          Ubiquiti AirMax Omni Antenna O213 : 2.4GHz 13dBi | AIR-O213
        </h3>
        <small class='text-base'>AIR-O213</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Ubiquiti AirMax Sector 120' : 2.4GHz 15dBi</h3>
        <small class='text-base'>AIR-S215</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Ubiquiti Bullet M5 : 5GHz | BULL-M5</h3>
        <small class='text-base'>BULL-M5</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
      <div>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Ubiquiti EdgeRouter Pro8 : 8 Port 2 SFP</h3>
        <small class='text-base'>ER-Pro8</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
        <a
          href='/about'
          class='w-full text-center mx-auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div>
  <!-- <div class='products-box'>
    <h2 class='text-xl mb-4'>PoE Adapters</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
    </section>
  </div>
  <div class=''>
    <h2 class='text-xl mb-4'>PoE Switches</h2>
    <section
      class='grid grid-cols-4 main gap-4 xxl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1'
    >
      <div class='products-box'>
        <img
          class='h-[180px] w-full object-contain'
          src='../../images/products/ubiquiti/FCSM60.jpg'
          alt='Product Photo'
        />
        <h3 class='text-xl'>Tenda 5-Port 10/100Mbps Desktop Switch with 4-Port PoE 63W</h3>
        <small class='text-base'>SKU TEF1105P</small>
        <p class='mb-4'>
          The Tenda S105 is a 5-port 10/100Mbps Ethernet desktop switch,
          specially designed for SOHO (Small Office, Home Office) environments.
        </p>
           <a
          href='/about'
          class='mx-w-full text-center auto bg-sky-600 px-12 py-4 rounded text-white inline-block'
          >Check Availability</a
        >
      </div>
    </section>
  </div> -->
</main>

<Footer />
